@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


:root{
    --pink:#ff046f;
    --violet:#c63BFa;
}

*{
    font-family:'Roboto',sans-serif;
    text-transform: capitalize;
    outline:none; /*btn pe click krne pe side me jo lines dikhti hai click hote huye voh hat jata hai */
    text-decoration: none;
    box-sizing: border-box;
}


*::selection{
    background: var(--pink);
    color:#fff; /* like white */

}
html{
    font-size: 62.5%; 

}
body{
    background-color:#fff;
    background-image: url('../images/login.jpg');   
    background-size:cover;
    background-repeat: no-repeat;
}
.container{
    display: flex;
    justify-content: center; /* horizontally center  */
    align-items: center; /* vartically center */
    text-align: center;
    text-transform: capitalize;
    height:300px;
    width:400px;
    border-radius:10px;
    background-color: #fff;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%); /* better than margin:auto cause it's shifts the element without effecting to others  (use position:abosolute) best for centerring the elements*/
}

.admin_card{
    width:100%;
    display: flex;
    flex-direction: column;
    gap:10px; 
}
.admin_card h1{
    font-size:40px;
    margin-top:-20px;
    text-transform: uppercase;
    font-weight:2200px;
}
.admin_card h2{
    font-size: 15px;
    margin:-20px auto 30px auto;
}
.text-name{
    height:50px;
    width:100%;
    align-items: center;
}
.text-name input{
   text-align: center;
    height:35px;
    width: 54%;
    border:1px solid  black;
    border-radius: 14px;
    align-items: center;

}
.text-name input:focus{
    border:1px solid var(--pink);
}
.btn input{
     text-align: center;
    height: 32px;
    width: 22%;
    border: 1px solid var(--pink);
    border-radius: 37px;
    align-items: center;
    margin: auto;
    color:#fff;
    background-color: #e34a8c
}
.btn input:hover{
    background-color: var(--pink);

}
.flash-message {
    padding: 12px;
    margin: 10px 0;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.alert-error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

.alert-warning {
    background-color: #fff3cd;
    color: #856404;
    border: 1px solid #ffeeba;
}

.alert-info {
    background-color: #d1ecf1;
    color: #0c5460;
    border: 1px solid #bee5eb;
}

/* Close Button */
.close-btn {
    float: right;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    padding: 0 10px;
}





















