 <!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>HTML course</title>
	<!-- <link rel="stylesheet" type="text/css" href="cppcoursestyle.css"> -->
	<link rel="stylesheet" href="{{ url_for('static', filename='courses_to_learn_style_script/cpp_course_style_script/cppcoursestyle.css') }}">


</head>
<body>
	<header>
		 <span>c++ language &nbsp; MASTER </span> 
	</header>
	 <div class="container">
	     <div class="html_c">
  <span class="id">1</span>
  <span><a href="{{ url_for('c_video', videoId='7Dh73z3icd8') }}" onclick="openfullscreen()">Why to Learn C</a></span>
</div>

<div class="html_c">
  <span class="id">2</span>
  <span><a href="{{ url_for('c_video', videoId='Wa-kgmSLls4') }}" onclick="openfullscreen()">What is Programming</a></span>
</div>

<div class="html_c">
  <span class="id">3</span>
  <span><a href="{{ url_for('c_video', videoId='9xCskNFVt2c') }}" onclick="openfullscreen()">Installation Process</a></span>
</div>

<div class="html_c">
  <span class="id">4</span>
  <span><a href="{{ url_for('c_video', videoId='5SIBB589fAg') }}" onclick="openfullscreen()">Working</a></span>
</div>

<div class="html_c">
  <span class="id">5</span>
  <span><a href="{{ url_for('c_video', videoId='PrVOM7M5nEY') }}" onclick="openfullscreen()">Syntax & Tokens</a></span>
</div>

<div class="html_c">
  <span class="id">6</span>
  <span><a href="{{ url_for('c_video', videoId='EcUGDTs4RyY') }}" onclick="openfullscreen()">Variables & Data Types</a></span>
</div>

<div class="html_c">
  <span class="id">7</span>
  <span><a href="{{ url_for('c_video', videoId='V4Wwuu05_t4') }}" onclick="openfullscreen()">Operators</a></span>
</div>

<div class="html_c">
  <span class="id">8</span>
  <span><a href="{{ url_for('c_video', videoId='c3Pd1xQlfWE') }}" onclick="openfullscreen()">Exercise 1</a></span>
</div>

<div class="html_c">
  <span class="id">9</span>
  <span><a href="{{ url_for('c_video', videoId='XETsCR2bXJI') }}" onclick="openfullscreen()">Format Specifier & Escape Sequence</a></span>
</div>

<div class="html_c">
  <span class="id">10</span>
  <span><a href="{{ url_for('c_video', videoId='D0ACZ0uU_2g') }}" onclick="openfullscreen()">If Else Control Statement</a></span>
</div>

<div class="html_c">
  <span class="id">11</span>
  <span><a href="{{ url_for('c_video', videoId='E8weUIY2-iw') }}" onclick="openfullscreen()">Switch Case Statement</a></span>
</div>

<div class="html_c">
  <span class="id">12</span>
  <span><a href="{{ url_for('c_video', videoId='A_IgufxmIHk') }}" onclick="openfullscreen()">Loops in C</a></span>
</div>

<div class="html_c">
  <span class="id">13</span>
  <span><a href="{{ url_for('c_video', videoId='S2z0OTZoziI') }}" onclick="openfullscreen()">Do While Loop</a></span>
</div>

<div class="html_c">
  <span class="id">14</span>
  <span><a href="{{ url_for('c_video', videoId='0KzWpgMLDmk') }}" onclick="openfullscreen()">While Loop</a></span>
</div>

<div class="html_c">
  <span class="id">15</span>
  <span><a href="{{ url_for('c_video', videoId='T5_qpdDtTZ0') }}" onclick="openfullscreen()">For Loop</a></span>
</div>

<div class="html_c">
  <span class="id">16</span>
  <span><a href="{{ url_for('c_video', videoId='yeH9DZlpbmM') }}" onclick="openfullscreen()">Break & Continue</a></span>
</div>

<div class="html_c">
  <span class="id">17</span>
  <span><a href="{{ url_for('c_video', videoId='AWUxfROdzPc') }}" onclick="openfullscreen()">Goto Statement</a></span>
</div>

<div class="html_c">
  <span class="id">18</span>
  <span><a href="{{ url_for('c_video', videoId='qc7FU9jWAxk') }}" onclick="openfullscreen()">Typecasting in C</a></span>
</div>

<div class="html_c">
  <span class="id">19</span>
  <span><a href="{{ url_for('c_video', videoId='CSJLuARmzg0') }}" onclick="openfullscreen()">Functions</a></span>
</div>

<div class="html_c">
  <span class="id">20</span>
  <span><a href="{{ url_for('c_video', videoId='nq_999WmWTY') }}" onclick="openfullscreen()">Exercise 1: Solution</a></span>
</div>


<div class="html_c">
  <span class="id">21</span>
  <span><a href="{{ url_for('cpp_video', videoId='tL8vnfFFzVQ') }}" onclick="openfullscreen()">classes, public & private access modifier</a></span>
</div>

<div class="html_c">
  <span class="id">22</span>
  <span><a href="{{ url_for('cpp_video', videoId='d363dW0AeS8') }}" onclick="openfullscreen()">OOPs Recap & Nesting of Member Function</a></span>
</div>

<div class="html_c">
  <span class="id">23</span>
  <span><a href="{{ url_for('cpp_video', videoId='qq05D2yFIHA') }}" onclick="openfullscreen()">Objects Memory Allocation</a></span>
</div>

<div class="html_c">
  <span class="id">24</span>
  <span><a href="{{ url_for('cpp_video', videoId='QcLI2zGVYFo') }}" onclick="openfullscreen()">Static Data Members & Methods</a></span>
</div>

<div class="html_c">
  <span class="id">25</span>
  <span><a href="{{ url_for('cpp_video', videoId='aKnc1A5NOKo') }}" onclick="openfullscreen()">Array of Object & Passing Obj</a></span>
</div>

<div class="html_c">
  <span class="id">26</span>
  <span><a href="{{ url_for('cpp_video', videoId='HK6gnkQIgqI') }}" onclick="openfullscreen()">Friend Function</a></span>
</div>

<div class="html_c">
  <span class="id">27</span>
  <span><a href="{{ url_for('cpp_video', videoId='Tk-4KUoatg8') }}" onclick="openfullscreen()">Friend Classes & Member Friend Function</a></span>
</div>

<div class="html_c">
  <span class="id">28</span>
  <span><a href="{{ url_for('cpp_video', videoId='GTJTsMR_fro') }}" onclick="openfullscreen()">More on C++ Friend Function</a></span>
</div>

<div class="html_c">
  <span class="id">29</span>
  <span><a href="{{ url_for('cpp_video', videoId='EEJUPXFKe8Q') }}" onclick="openfullscreen()">Constructor</a></span>
</div>

<div class="html_c">
  <span class="id">30</span>
  <span><a href="{{ url_for('cpp_video', videoId='CYXIlh5DURI') }}" onclick="openfullscreen()">Parameterized and Default Constructors</a></span>
</div>

<div class="html_c">
  <span class="id">31</span>
  <span><a href="{{ url_for('cpp_video', videoId='7BmtA-7r1Fg') }}" onclick="openfullscreen()">Constructor Overloading</a></span>
</div>

<div class="html_c">
  <span class="id">32</span>
  <span><a href="{{ url_for('cpp_video', videoId='Ok-5YqcGl6c') }}" onclick="openfullscreen()">Constructors with Default Argument</a></span>
</div>

<div class="html_c">
  <span class="id">33</span>
  <span><a href="{{ url_for('cpp_video', videoId='c_9oCs-9fvg') }}" onclick="openfullscreen()">Dynamic Initialization</a></span>
</div>

<div class="html_c">
  <span class="id">34</span>
  <span><a href="{{ url_for('cpp_video', videoId='jhZjyaNO4Wo') }}" onclick="openfullscreen()">Copy Constructor</a></span>
</div>

<div class="html_c">
  <span class="id">35</span>
  <span><a href="{{ url_for('cpp_video', videoId='rm4tGxWBkqs') }}" onclick="openfullscreen()">Destructor</a></span>
</div>

<div class="html_c">
  <span class="id">36</span>
  <span><a href="{{ url_for('cpp_video', videoId='RO1ZYW9NAzg') }}" onclick="openfullscreen()">Inheritance & Its Types</a></span>
</div>

<div class="html_c">
  <span class="id">37</span>
  <span><a href="{{ url_for('cpp_video', videoId='Dmrc82dL7E8') }}" onclick="openfullscreen()">Syntax & Visibility</a></span>
</div>

<div class="html_c">
  <span class="id">38</span>
  <span><a href="{{ url_for('cpp_video', videoId='Dmrc82dL7E8') }}" onclick="openfullscreen()">Single Inheritance</a></span>
</div>

<div class="html_c">
  <span class="id">39</span>
  <span><a href="{{ url_for('cpp_video', videoId='Dmrc82dL7E8') }}" onclick="openfullscreen()">Protected Access Modifier</a></span>
</div>

<div class="html_c">
  <span class="id">40</span>
  <span><a href="{{ url_for('cpp_video', videoId='BLb6-ZgxqHg') }}" onclick="openfullscreen()">Multilevel Inheritance</a></span>
</div>
<div class="html_c">
  <span class="id">41</span>
  <span><a href="{{ url_for('cpp_video', videoId='h3INeRqf2vU') }}" onclick="openfullscreen()">Multiple Inheritance</a></span>
</div>
<div class="html_c">
  <span class="id">42</span>
  <span><a href="{{ url_for('cpp_video', videoId='SW36UpSdmsM') }}" onclick="openfullscreen()">Exercise on Inheritance</a></span>
</div>
<div class="html_c">
  <span class="id">43</span>
  <span><a href="{{ url_for('cpp_video', videoId='ZqfArYoV9Lg') }}" onclick="openfullscreen()">Inheritance Ambiguity Resolution</a></span>
</div>
<div class="html_c">
  <span class="id">44</span>
  <span><a href="{{ url_for('cpp_video', videoId='kzMQpPX7TUY') }}" onclick="openfullscreen()">Virtual Base Class</a></span>
</div>
<div class="html_c">
  <span class="id">45</span>
  <span><a href="{{ url_for('cpp_video', videoId='eYV-TohBaa0') }}" onclick="openfullscreen()">Virtual Base Class Code</a></span>
</div>
<div class="html_c">
  <span class="id">46</span>
  <span><a href="{{ url_for('cpp_video', videoId='gvOO4H7j_qI') }}" onclick="openfullscreen()">Constructors in Derived Class</a></span>
</div>
<div class="html_c">
  <span class="id">47</span>
  <span><a href="{{ url_for('cpp_video', videoId='eGhDSjWGXQc') }}" onclick="openfullscreen()">Solution to Inheritance Exercise</a></span>
</div>
<div class="html_c">
  <span class="id">48</span>
  <span><a href="{{ url_for('cpp_video', videoId='qHrnTf5DOeI') }}" onclick="openfullscreen()">Constructors in Derived Class</a></span>
</div>
<div class="html_c">
  <span class="id">49</span>
  <span><a href="{{ url_for('cpp_video', videoId='-Re7K7mHtv4') }}" onclick="openfullscreen()">Initialization List in Constructors</a></span>
</div>
<div class="html_c">
  <span class="id">50</span>
  <span><a href="{{ url_for('cpp_video', videoId='2Y0b9nFA9s8') }}" onclick="openfullscreen()">New & Delete Keywords</a></span>
</div>
<div class="html_c">
  <span class="id">51</span>
  <span><a href="{{ url_for('cpp_video', videoId='ANpUQgyRPKk') }}" onclick="openfullscreen()">Pointer to Objects</a></span>
</div>
<div class="html_c">
  <span class="id">52</span>
  <span><a href="{{ url_for('cpp_video', videoId='OCmCyYxSi2I') }}" onclick="openfullscreen()">Array of Objects Using Pointer</a></span>
</div>
<div class="html_c">
  <span class="id">53</span>
  <span><a href="{{ url_for('cpp_video', videoId='cEOfK_L4gGA') }}" onclick="openfullscreen()">This Pointer</a></span>
</div>
<div class="html_c">
  <span class="id">54</span>
  <span><a href="{{ url_for('cpp_video', videoId='B-WWdC-H0zw') }}" onclick="openfullscreen()">Polymorphism</a></span>
</div>
<div class="html_c">
  <span class="id">55</span>
  <span><a href="{{ url_for('cpp_video', videoId='0YQ_yhX46uk') }}" onclick="openfullscreen()">Pointer to Derived Class</a></span>
</div>
<div class="html_c">
  <span class="id">56</span>
  <span><a href="{{ url_for('cpp_video', videoId='fB3JHNnlRfI') }}" onclick="openfullscreen()">Virtual Functions</a></span>
</div>
<div class="html_c">
  <span class="id">57</span>
  <span><a href="{{ url_for('cpp_video', videoId='-noYyWtdXSI') }}" onclick="openfullscreen()">Virtual Functions Examples</a></span>
</div>
<div class="html_c">
  <span class="id">58</span>
  <span><a href="{{ url_for('cpp_video', videoId='RBAWWutf0fY') }}" onclick="openfullscreen()">Abstract Base Classes & Pure Virtual Functions</a></span>
</div>
<div class="html_c">
  <span class="id">59</span>
  <span><a href="{{ url_for('cpp_video', videoId='Ma0P9T4nTDA') }}" onclick="openfullscreen()">File I/O</a></span>
</div>
<div class="html_c">
  <span class="id">60</span>
  <span><a href="{{ url_for('cpp_video', videoId='LS1zjr1wog4') }}" onclick="openfullscreen()">Reading & Writing Files 1</a></span>
</div>
<div class="html_c">
  <span class="id">61</span>
  <span> <a href="{{ url_for('cpp_video', videoId='7ku2AQsWwZE') }}" onclick="openfullscreen()"> reading & writing files 2 </a></span>
</div>
<div class="html_c">
  <span class="id">62</span>
  <span> <a href="{{ url_for('cpp_video', videoId='U_w-RfMrX18') }}" onclick="openfullscreen()"> open() & eof() functions </a></span>
</div>
<div class="html_c">
  <span class="id">63</span>
  <span> <a href="{{ url_for('cpp_video', videoId='kKJeekDKU30') }}" onclick="openfullscreen()"> templates </a></span>
</div>
<div class="html_c">
  <span class="id">64</span>
  <span> <a href="{{ url_for('cpp_video', videoId='SuiGXMqGKak') }}" onclick="openfullscreen()"> first templates </a></span>
</div>
<div class="html_c">
  <span class="id">65</span>
  <span> <a href="{{ url_for('cpp_video', videoId='8SQL9-cQmsw') }}" onclick="openfullscreen()"> multi-parameters templates </a></span>
</div>
<div class="html_c">
  <span class="id">66</span>
  <span> <a href="{{ url_for('cpp_video', videoId='IdY8t0n8VBs') }}" onclick="openfullscreen()"> template with default parameters </a></span>
</div>
<div class="html_c">
  <span class="id">67</span>
  <span> <a href="{{ url_for('cpp_video', videoId='YTS0ShpFsrM') }}" onclick="openfullscreen()"> function template </a></span>
</div>
<div class="html_c">
  <span class="id">68</span>
  <span> <a href="{{ url_for('cpp_video', videoId='Y_RMNcXAM1U') }}" onclick="openfullscreen()"> overloading function templates </a></span>
</div>
<div class="html_c">
  <span class="id">69</span>
  <span> <a href="{{ url_for('cpp_video', videoId='c9iREsYpayk') }}" onclick="openfullscreen()"> STL for competitive programming </a></span>
</div>
<div class="html_c">
  <span class="id">70</span>
  <span> <a href="{{ url_for('cpp_video', videoId='m0gnToak2-g') }}" onclick="openfullscreen()"> STL containers </a></span>
</div>
<div class="html_c">
  <span class="id">71</span>
  <span> <a href="{{ url_for('cpp_video', videoId='wKDvMcJiEPM') }}" onclick="openfullscreen()"> STL vectors </a></span>
</div>
<div class="html_c">
  <span class="id">72</span>
  <span> <a href="{{ url_for('cpp_video', videoId='OI4CXwpMBhE') }}" onclick="openfullscreen()"> STL lists </a></span>
</div>
<div class="html_c">
  <span class="id">73</span>
  <span> <a href="{{ url_for('cpp_video', videoId='KwS-Vbsha1k') }}" onclick="openfullscreen()"> STL maps </a></span>
</div>
<div class="html_c">
  <span class="id">74</span>
  <span> <a href="{{ url_for('cpp_video', videoId='g4AQiptpcI8') }}" onclick="openfullscreen()"> function objects </a></span>
</div>  
</body>
<script  src="courses_to_learn_style_script/cppcourse_style_script/script2.js"></script>
</html>











