<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="quiz_style.css">
</head>
<body>
    <main class="main">
        <header class="header">
            <a href="#" class="quiz">QUIZ</a>
            <nav class="navbar">
                <ul>
                    <li><a href="#" class="home">Home</a> </li>
                    <li><a href="#" class="about">about</a> </li>
                    <li><a href="#" class="service">service</a> </li>
                    <li><a href="#" class="contact">contact</a> </li>
                </ul>
            </nav>
        </header>
<!-----------------------------------------------------container ----------------------------->

         <div class="container"> 
            <section class="quiz_section">
                <div class="quiz-box"><h1>codehal Quiz </h1>
                     <div  class="quiz_header">
                        <span>Quiz website tutorial</span>
                        <span class="header-score">score: 0/5 </span>
                     </div><h2 class="question-text">1 What does HTML stand for ? </h2>
                     <div class="optionlist">
                              <div class="option">
                              <span>a. hyper text multi language </span> 
                              </div>

                              <div class="option">
                              <span>b. hyper text multiple language</span> 
                              </div>

                              <div class="option">
                              <span>c. hyper text markup language </span> 
                              </div>

                              <div class="option">
                              <span>d. home text multi language </span> 
                              </div>
                     </div>
                     <div class="quiz_footer">
                             <span class="quesion-total">1 of 5 Question </span> 
                             <button class="next-btn">Next</button>
                     </div>
                 </div> 

<!-----------------------------------------------------------result box----------------------------->

                 <div class="result-box"><h2> Quiz Result !</h2>
                     <div class="percentage-container">
                             <div class="circular-progress">
                                <span class="progress-values">0%</span>
                             </div>
                             <span class="score-text">Your Score &nbsp; 0 out of&nbsp;  5</span>       
                     </div>
                     <div class="buttons">
                        <button class="tryagain">Try Again</button>
                        <button class="go-home"> Go To Home </button>
                     </div>
                 </div>
             </section>                       
<!-----------------------------------------------------------------home section ---------------------------------------------->
             
             <section class="home" id="home">
                <section class="home-content">
                <h1 class="qw">Are you ready ?</h1>
                <p class="para"> Lorem ipsum dolor sit amet, consectetur adipis
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehesse
                cillum dolore eu </p>
                <button class="start">Start</button>
                </section>
             </section>
         </div>                 
    </main>
<!----------------------------------------------------------------pop up-------------------------------------------->

             <div class="pop_up">
                 <h1 class="q_guide">Quiz guide</h1>
                  <ol>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet </li>
                    <li>Lorem ipsum dolor sit amet </li>
                    <li>Lorem ipsum dolor sit amet </li>
                   </ol>
                <div class="btn_grp">
                <button class="exit exitbtn" id="exit">Exit</button> 
                <a href="#" class="continue">Continue</a>
                </div>
             </div>       
</body>
<script src="question.js"> </script>
<script src="script.js"></script>
</html>