 <!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>HTML course</title>
	<!-- <link rel="stylesheet" type="text/css" href="pythoncoursestyle.css"> -->
	<link rel="stylesheet" href="{{ url_for('static',filename='courses_to_learn_style_script/python_course_style_script/pythoncoursestyle.css') }}">
</head>
<body>
	<header>
		 <span>Python &nbsp; MASTER </span> 
	</header>
	 <div class="container">
	 	<div class="html_c">
	<span class="id">1</span>
	<span><a href="{{ url_for('python_video', videoId='7wnove7K-ZQ') }}" onclick="openfullscreen()">Introduction to Python</a></span>
</div>

<div class="html_c">
	<span class="id">2</span>
	<span><a href="{{ url_for('python_video', videoId='Tto8TS-fJQU') }}" onclick="openfullscreen()">Python Program</a></span>
</div>

<div class="html_c">
	<span class="id">3</span>
	<span><a href="{{ url_for('python_video', videoId='xwKO_y2gHxQ') }}" onclick="openfullscreen()">Modules and Pip</a></span>
</div>

<div class="html_c">
	<span class="id">4</span>
	<span><a href="{{ url_for('python_video', videoId='7IWOYhfAcVg') }}" onclick="openfullscreen()">First Program</a></span>
</div>

<div class="html_c">
	<span class="id">5</span>
	<span><a href="{{ url_for('python_video', videoId='qxPMmW93eDs') }}" onclick="openfullscreen()">Escape Sequences</a></span>
</div>

<div class="html_c">
	<span class="id">6</span>
	<span><a href="{{ url_for('python_video', videoId='ORCuz7s5cCY') }}" onclick="openfullscreen()">Data Types</a></span>
</div>

<div class="html_c">
	<span class="id">7</span>
	<span><a href="{{ url_for('python_video', videoId='FLVqcxnJP_E') }}" onclick="openfullscreen()">Exercise 1: Calculator</a></span>
</div>

<div class="html_c">
	<span class="id">8</span>
	<span><a href="{{ url_for('python_video', videoId='dohaSBCKCr0') }}" onclick="openfullscreen()">Exercise 1: Solution</a></span>
</div>

<div class="html_c">
	<span class="id">9</span>
	<span><a href="{{ url_for('python_video', videoId='Pu5bqySSSS0') }}" onclick="openfullscreen()">Typecasting</a></span>
</div>

<div class="html_c">
	<span class="id">10</span>
	<span><a href="{{ url_for('python_video', videoId='WvG-R-xXouA') }}" onclick="openfullscreen()">User Input</a></span>
</div>

<div class="html_c">
	<span class="id">11</span>
	<span><a href="{{ url_for('python_video', videoId='kMNFQYArrLg') }}" onclick="openfullscreen()">Strings</a></span>
</div>

<div class="html_c">
	<span class="id">12</span>
	<span><a href="{{ url_for('python_video', videoId='8jW7lpT8HW8') }}" onclick="openfullscreen()">String Methods</a></span>
</div>

<div class="html_c">
	<span class="id">13</span>
	<span><a href="{{ url_for('python_video', videoId='0INvoK_T0cE') }}" onclick="openfullscreen()">String Methods 2</a></span>
</div>

<div class="html_c">
	<span class="id">14</span>
	<span><a href="{{ url_for('python_video', videoId='ceiuLR2ysas') }}" onclick="openfullscreen()">If-Else Condition</a></span>
</div>

<div class="html_c">
	<span class="id">15</span>
	<span><a href="{{ url_for('python_video', videoId='d7ng_aV4qdI') }}" onclick="openfullscreen()">Exercise 2</a></span>
</div>

<div class="html_c">
	<span class="id">16</span>
	<span><a href="{{ url_for('python_video', videoId='bthQCK1QAmQ') }}" onclick="openfullscreen()">Match Case</a></span>
</div>

<div class="html_c">
	<span class="id">17</span>
	<span><a href="{{ url_for('python_video', videoId='fIYVzKp0q5w') }}" onclick="openfullscreen()">For Loops</a></span>
</div>

<div class="html_c">
	<span class="id">18</span>
	<span><a href="{{ url_for('python_video', videoId='-tCFyIyKVx0') }}" onclick="openfullscreen()">While Loops</a></span>
</div>

<div class="html_c">
	<span class="id">19</span>
	<span><a href="{{ url_for('python_video', videoId='RkwJnjdrm70') }}" onclick="openfullscreen()">Break & Continue</a></span>
</div>

<div class="html_c">
	<span class="id">20</span>
	<span><a href="{{ url_for('python_video', videoId='dyvxxJSGUsE') }}" onclick="openfullscreen()">Functions</a></span>
</div>
<div class="html_c">
	<span class="id">21</span>
	<span> <a href="{{ url_for('python_video', videoId='0d6b6fFuCkE') }}" onclick="openfullscreen()"> function argument </a></span>
</div>
<div class="html_c">
	<span class="id">22</span>
	<span> <a href="{{ url_for('python_video', videoId='eF6nK5bSlmg') }}" onclick="openfullscreen()"> lists </a></span>
</div>
<div class="html_c">
	<span class="id">23</span>
	<span> <a href="{{ url_for('python_video', videoId='scWc3F8LbOo') }}" onclick="openfullscreen()"> list methods </a></span>
</div>
<div class="html_c">
	<span class="id">24</span>
	<span> <a href="{{ url_for('python_video', videoId='PipsOUDKrVk') }}" onclick="openfullscreen()"> tuples </a></span>
</div>
<div class="html_c">
	<span class="id">25</span>
	<span> <a href="{{ url_for('python_video', videoId='XblLSduioJI') }}" onclick="openfullscreen()"> tuple methods </a></span>
</div>
<div class="html_c">
	<span class="id">26</span>
	<span> <a href="{{ url_for('python_video', videoId='IZBKXWrbqBM') }}" onclick="openfullscreen()"> exercise 2 solution </a></span>
</div>
<div class="html_c">
	<span class="id">27</span>
	<span> <a href="{{ url_for('python_video', videoId='Vs1Z7K70Mvw') }}" onclick="openfullscreen()"> exercise 3 </a></span>
</div>
<div class="html_c">
	<span class="id">28</span>
	<span> <a href="{{ url_for('python_video', videoId='ixmxgUf8yIg') }}" onclick="openfullscreen()"> f-strings </a></span>
</div>
<div class="html_c">
	<span class="id">29</span>
	<span> <a href="{{ url_for('python_video', videoId='SJzsNd7SM0g') }}" onclick="openfullscreen()"> DocStrings </a></span>
</div>
<div class="html_c">
	<span class="id">30</span>
	<span> <a href="{{ url_for('python_video', videoId='XYwJKFB8DUk') }}" onclick="openfullscreen()"> recursion </a></span>
</div>
<div class="html_c">
	<span class="id">31</span>
	<span> <a href="{{ url_for('python_video', videoId='l3kCO8cVA6o') }}" onclick="openfullscreen()"> sets </a></span>
</div>
<div class="html_c">
	<span class="id">32</span>
	<span> <a href="{{ url_for('python_video', videoId='HOrutCnp2zo') }}" onclick="openfullscreen()"> set methods </a></span>
</div>
<div class="html_c">
	<span class="id">33</span>
	<span> <a href="{{ url_for('python_video', videoId='j2G68uQtOwM') }}" onclick="openfullscreen()"> dictionary </a></span>
</div>
<div class="html_c">
	<span class="id">34</span>
	<span> <a href="{{ url_for('python_video', videoId='LmbFwaLjT9k') }}" onclick="openfullscreen()"> dictionary methods </a></span>
</div>
<div class="html_c">
	<span class="id">35</span>
	<span> <a href="{{ url_for('python_video', videoId='qUkcIgErZzc') }}" onclick="openfullscreen()"> for loop with else </a></span>
</div>
<div class="html_c">
	<span class="id">36</span>
	<span> <a href="{{ url_for('python_video', videoId='4LKo6dlku7M') }}" onclick="openfullscreen()"> exception handling </a></span>
</div>
<div class="html_c">
	<span class="id">37</span>
	<span> <a href="{{ url_for('python_video', videoId='r_iuC-IDpPM') }}" onclick="openfullscreen()"> finally keyword </a></span>
</div>
<div class="html_c">
	<span class="id">38</span>
	<span> <a href="{{ url_for('python_video', videoId='Phr4CNppYoM') }}" onclick="openfullscreen()"> custom errors </a></span>
</div>
<div class="html_c">
	<span class="id">39</span>
	<span> <a href="{{ url_for('python_video', videoId='nyfeYAxP-EM') }}" onclick="openfullscreen()"> exercise 3: solution </a></span>
</div>
<div class="html_c">
	<span class="id">40</span>
	<span> <a href="{{ url_for('python_video', videoId='pOWJ6WgVRIU') }}" onclick="openfullscreen()"> exercise 4 </a></span>
</div>
<div class="html_c">
  <span class="id">41</span>
  <span><a href="{{ url_for('python_video', videoId='Qqx_zNmQVGI') }}" onclick="openfullscreen()"> Short Hand If Else </a></span>
</div>
<div class="html_c">
  <span class="id">42</span>
  <span><a href="{{ url_for('python_video', videoId='kGnYc_h1geM') }}" onclick="openfullscreen()"> Enumerate </a></span>
</div>
<div class="html_c">
  <span class="id">43</span>
  <span><a href="{{ url_for('python_video', videoId='nt6LlFTWOkg') }}" onclick="openfullscreen()"> Virtual Environment </a></span>
</div>
<div class="html_c">
  <span class="id">44</span>
  <span><a href="{{ url_for('python_video', videoId='Pr7UOr35NcI') }}" onclick="openfullscreen()"> How Import Works </a></span>
</div>
<div class="html_c">
  <span class="id">45</span>
  <span><a href="{{ url_for('python_video', videoId='y_CX2Rvitk8') }}" onclick="openfullscreen()"> if _name_ == "_main_" </a></span>
</div>
<div class="html_c">
  <span class="id">46</span>
  <span><a href="{{ url_for('python_video', videoId='dkVYSsL90Oo') }}" onclick="openfullscreen()"> OS Module </a></span>
</div>
<div class="html_c">
  <span class="id">47</span>
  <span><a href="{{ url_for('python_video', videoId='4lSQfOJKn7U') }}" onclick="openfullscreen()"> Exercise 4: Solution </a></span>
</div>
<div class="html_c">
  <span class="id">48</span>
  <span><a href="{{ url_for('python_video', videoId='RaG6GgcDt54') }}" onclick="openfullscreen()"> Local & Global Variables </a></span>
</div>
<div class="html_c">
  <span class="id">49</span>
  <span><a href="{{ url_for('python_video', videoId='eDBPlcWYses') }}" onclick="openfullscreen()"> File I/O </a></span>
</div>
<div class="html_c">
  <span class="id">50</span>
  <span><a href="{{ url_for('python_video', videoId='l1FsnQxET9U') }}" onclick="openfullscreen()"> Read, Readlines & Other Methods </a></span>
</div>
<div class="html_c">
	<span class="id">51</span>
	<span> <a href="{{ url_for('python_video', videoId='PByYX-2l5Us') }}" onclick="openfullscreen()"> seek() & tell() </a></span>
</div>
<div class="html_c">
	<span class="id">52</span>
	<span> <a href="{{ url_for('python_video', videoId='UfFWf-PXUqE') }}" onclick="openfullscreen()"> lambda function </a></span>
</div>
<div class="html_c">
	<span class="id">53</span>
	<span> <a href="{{ url_for('python_video', videoId='OErhjT4f5Cs') }}" onclick="openfullscreen()"> map, filter & reduce </a></span>
</div>
<div class="html_c">
	<span class="id">54</span>
	<span> <a href="{{ url_for('python_video', videoId='TOemdfX_0xc') }}" onclick="openfullscreen()"> is vs == </a></span>
</div>
<div class="html_c">
	<span class="id">55</span>
	<span> <a href="{{ url_for('python_video', videoId='dDsh7FT6-0I') }}" onclick="openfullscreen()"> exercise 5 </a></span>
</div>
<div class="html_c">
	<span class="id">56</span>
	<span> <a href="{{ url_for('python_video', videoId='HQnoYzxOHMw') }}" onclick="openfullscreen()"> intro to OOPs </a></span>
</div>
<div class="html_c">
	<span class="id">57</span>
	<span> <a href="{{ url_for('python_video', videoId='a7baAGCBA9U') }}" onclick="openfullscreen()"> classes & objects </a></span>
</div>
<div class="html_c">
	<span class="id">58</span>
	<span> <a href="{{ url_for('python_video', videoId='12HRkYld22c') }}" onclick="openfullscreen()"> constructor </a></span>
</div>
<div class="html_c">
	<span class="id">59</span>
	<span> <a href="{{ url_for('python_video', videoId='PTBZ674EsvI') }}" onclick="openfullscreen()"> decorators </a></span>
</div>
<div class="html_c">
	<span class="id">60</span>
	<span> <a href="{{ url_for('python_video', videoId='2gbCT8h9uyk') }}" onclick="openfullscreen()"> getter & setter </a></span>
</div>
<div class="html_c">
	<span class="id">61</span>
	<span> <a href="{{ url_for('python_video', videoId='-KsfUaQEY9Y') }}" onclick="openfullscreen()"> inheritance </a></span>
</div>
<div class="html_c">
	<span class="id">62</span>
	<span> <a href="{{ url_for('python_video', videoId='43FK20rWvKQ') }}" onclick="openfullscreen()"> access specifiers </a></span>
</div>
<div class="html_c">
	<span class="id">63</span>
	<span> <a href="{{ url_for('python_video', videoId='GkfBpm6MN9A') }}" onclick="openfullscreen()"> exercise 5: solution </a></span>
</div>
<div class="html_c">
	<span class="id">64</span>
	<span> <a href="{{ url_for('python_video', videoId='mlDZTSH2FFc') }}" onclick="openfullscreen()"> exercise 6 </a></span>
</div>
<div class="html_c">
	<span class="id">65</span>
	<span> <a href="{{ url_for('python_video', videoId='GcSVYNSsJxo') }}" onclick="openfullscreen()"> static methods </a></span>
</div>
<div class="html_c">
	<span class="id">66</span>
	<span> <a href="{{ url_for('python_video', videoId='tQdaeiF4j38') }}" onclick="openfullscreen()"> instance & class variables </a></span>
</div>
<div class="html_c">
	<span class="id">67</span>
	<span> <a href="{{ url_for('python_video', videoId='uRIEjf2vCIg') }}" onclick="openfullscreen()"> exercise 6: solution </a></span>
</div>
<div class="html_c">
	<span class="id">68</span>
	<span> <a href="{{ url_for('python_video', videoId='6KvnP13TnhY') }}" onclick="openfullscreen()"> exercise 7 </a></span>
</div>
<div class="html_c">
	<span class="id">69</span>
	<span> <a href="{{ url_for('python_video', videoId='9ynmDLc5FYo') }}" onclick="openfullscreen()"> class methods </a></span>
</div>
<div class="html_c">
	<span class="id">70</span>
	<span> <a href="{{ url_for('python_video', videoId='FGlKJdy--p8') }}" onclick="openfullscreen()"> class methods & constructors </a></span>
</div>

<div class="html_c">
  <span class="id">71</span>
  <span> <a href="{{ url_for('python_video', videoId='Wgo9TaBcuJ4') }}" onclick="openfullscreen()"> dir, dict & help methods </a></span>
</div>
<div class="html_c">
  <span class="id">72</span>
  <span> <a href="{{ url_for('python_video', videoId='P648reefNh0') }}" onclick="openfullscreen()"> super keyword </a></span>
</div>
<div class="html_c">
  <span class="id">73</span>
  <span> <a href="{{ url_for('python_video', videoId='DmgQVJXhuLQ') }}" onclick="openfullscreen()"> magic / dunder methods </a></span>
</div>
<div class="html_c">
  <span class="id">74</span>
  <span> <a href="{{ url_for('python_video', videoId='46_yfYC36JY') }}" onclick="openfullscreen()"> method overriding </a></span>
</div>
<div class="html_c">
  <span class="id">75</span>
  <span> <a href="{{ url_for('python_video', videoId='Wt9Shnzv_Yg') }}" onclick="openfullscreen()"> Exercise 7: Solution </a></span>
</div>
<div class="html_c">
  <span class="id">76</span>
  <span> <a href="{{ url_for('python_video', videoId='uUbvJ7ZEhPE') }}" onclick="openfullscreen()"> Exercise 8 </a></span>
</div>
<div class="html_c">
  <span class="id">77</span>
  <span> <a href="{{ url_for('python_video', videoId='D67-b2t-y4k') }}" onclick="openfullscreen()"> operator overloading </a></span>
</div>
<div class="html_c">
  <span class="id">78</span>
  <span> <a href="{{ url_for('python_video', videoId='U53_Gw55NI8') }}" onclick="openfullscreen()"> single inheritance </a></span>
</div>
<div class="html_c">
  <span class="id">79</span>
  <span> <a href="{{ url_for('python_video', videoId='4o7xSHgKlvI') }}" onclick="openfullscreen()"> multiple inheritance </a></span>
</div>
<div class="html_c">
  <span class="id">80</span>
  <span> <a href="{{ url_for('python_video', videoId='Il7XMJJeXiA') }}" onclick="openfullscreen()"> multilevel inheritance </a></span>
</div>
<div class="html_c">
  <span class="id">81</span>
  <span> <a href="{{ url_for('python_video', videoId='B4Q8zxRkm_I') }}" onclick="openfullscreen()"> hybrid & hierarchical inheritance </a></span>
</div>
<div class="html_c">
  <span class="id">82</span>
  <span> <a href="{{ url_for('python_video', videoId='qKKGemhBRVM') }}" onclick="openfullscreen()"> Exercise 8: Solution </a></span>
</div>
<div class="html_c">
  <span class="id">83</span>
  <span> <a href="{{ url_for('python_video', videoId='1WjwnlRXfHc') }}" onclick="openfullscreen()"> Exercise 9 </a></span>
</div>
<div class="html_c">
  <span class="id">84</span>
  <span> <a href="{{ url_for('python_video', videoId='oTtIvV-Q1FY') }}" onclick="openfullscreen()"> time module </a></span>
</div>
<div class="html_c">
  <span class="id">85</span>
  <span> <a href="{{ url_for('python_video', videoId='3IAu6-pgw7I') }}" onclick="openfullscreen()"> command line utilities </a></span>
</div>
<div class="html_c">
  <span class="id">86</span>
  <span> <a href="{{ url_for('python_video', videoId='NCmMEEyzLT8') }}" onclick="openfullscreen()"> walrus operator </a></span>
</div>
<div class="html_c">
  <span class="id">87</span>
  <span> <a href="{{ url_for('python_video', videoId='wII2JhNACJE') }}" onclick="openfullscreen()"> shutil module </a></span>
</div>
<div class="html_c">
  <span class="id">88</span>
  <span> <a href="{{ url_for('python_video', videoId='C9VP-56RXNM') }}" onclick="openfullscreen()"> Exercise 9: Solution </a></span>
</div>
<div class="html_c">
  <span class="id">89</span>
  <span> <a href="{{ url_for('python_video', videoId='Nsb3bLIlO4w') }}" onclick="openfullscreen()"> request module </a></span>
</div>
<div class="html_c">
  <span class="id">90</span>
  <span> <a href="{{ url_for('python_video', videoId='BGzFp9mwFQ4') }}" onclick="openfullscreen()"> Exercise 10 </a></span>
</div>
<div class="html_c">
	<span class="id">91</span>
	<span> <a href="{{ url_for('python_video', videoId='ixd-u3pmsUc') }}" onclick="openfullscreen()"> generators  </a></span>
</div>
<div class="html_c">
	<span class="id">92</span>
	<span> <a href="{{ url_for('python_video', videoId='K8gjSwc3Rlo') }}" onclick="openfullscreen()">function caching   </a></span>
</div>
<div class="html_c">
	<span class="id">93</span>
	<span> <a href="{{ url_for('python_video', videoId='bnAz7Kb2efE') }}" onclick="openfullscreen()"> exercise 10 : solution </a></span>
</div>
<div class="html_c">
	<span class="id">94</span>
	<span> <a href="{{ url_for('python_video', videoId='1i4piFhpnm8') }}" onclick="openfullscreen()"> exercise 11 </a></span>
</div>
<div class="html_c">
	<span class="id">95</span>
	<span> <a href="{{ url_for('python_video', videoId='TCWOwavqFrw') }}" onclick="openfullscreen()">  regular expression </a></span>
</div>
<div class="html_c">
	<span class="id">96</span>
	<span> <a href="{{ url_for('python_video', videoId='lgoB3_-ejnI') }}" onclick="openfullscreen()"> asyncIO  </a></span>
</div>
<div class="html_c">
	<span class="id">97</span>
	<span> <a href="{{ url_for('python_video', videoId='ICbU6zAKtqQ') }}" onclick="openfullscreen()"> multithreading  </a></span>
</div>
<div class="html_c">
	<span class="id">98</span>
	<span> <a href="{{ url_for('python_video', videoId='zGe-9LfnAaA') }}" onclick="openfullscreen()"> mutliprocessing  </a></span>
</div>
<div class="html_c">
	<span class="id">99</span>
	<span> <a href="{{ url_for('python_video', videoId='18vZnLqXMoM') }}" onclick="openfullscreen()"> exercise 11:solution   </a></span>
</div>
<div class="html_c">
	<span class="id">100</span>
	<span> <a href="{{ url_for('python_video', videoId='5Pz8WGiMJ_c') }}" onclick="openfullscreen()"> conclusion   </a></span>
</div>
















	     

</body>
<script  src="static/courses_to_learn_style_script/python_course_style_script/script2.js"></script>
</html>











