:root{
    --pink:#ff046f;
    --violet:#c63BFa;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image:url('bgimage.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.container{
    height: 300px;
    width:300px;
    align-items: center;
    text-align: center;
    background-color:#fff ;
    border-radius: 10px;
    border-top:5px solid var(--pink);
}
.text{
    margin:30px auto;
    font-family: sans-serif;
    font-size:27px;
    color:var(--violet);
}
.email_d{
    height: 100px;
    width:100%;
    font-size:25px;
    color:var(--pink);
}

.email_c{
       height:30px;
       width:70%; 
}

.btns{
display: flex;
justify-content: space-around;
margin-top: -32px;
}

.btn{
    height:30px;
    width:100px;
    background-color:var(--pink);
    border:none;
    cursor: pointer;
    transition:.2s ease-in-out;
    color:white;
    font-size: 15px;
    border-radius:5px;
    align-items: center;
    text-align: center;}

.btn:hover{
background-color: var(--violet);
}

@media (max-width:600px){

    .container{
        align-items: center;
        width:250px;
    }

}



















