:root{
    --pink:#ff046f;
    --violet:#c63BFa;
}

*{
	margin:auto;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: #f2f2f2;
	height: 100vh;
	font-size: 14px;
	 background-image: url('bgimage.jpg' );
	 background-size: cover; // covers the entire element
	 background-position: center;
	 background-repeat: no-repeat;
	 align-items: center;
}
.container{
        width:500px;
        background-color: white;
        padding:15px;
        margin:80px auto 0;
        border-top:5px solid var(--pink);
        box-shadow: 0 0 5px rgba(0,0,0,0.8);
        border-radius:.5rem;

}
.container h2{
	font-size:30px;
	line-height: 24px;
	padding:25px;
    text-align: center;
    color:var(--violet);
}
.input-name{
	width:90%;
	position: relative;
	margin:15px auto;
}

input{
	color:var(--violet);
	font-size:15px;
}
.user{
	padding:8px 11px;
}

.name{
	width:45%;
	padding: 8px 0 8px 40px;
}
.input-name span{
	margin-left:35px;
}
.text-name{
	width:100%;
	 padding: 8px 60px;
	display:;
	align-items: center;
}

.input-name i{
	position: absolute;
	height: 100%;
	display: ;
	left:10px;
	align-items: center;
	font-size: 18px;
	color:var(--pink);
	align-items: center;
	padding-left:10px;
	border-right: 1px solid var(--pink);
}
.email{
	text-align: center;	
	align-items: center;
	padding:5px 5px;
	height:35px;
	border-right: 10px solid var(--pink);
}
.password{
     padding:5px 5px;
	 height:35px;
	 border-right: 10px solid var(--pink);
}

.input-name{
	text-align: center; // centers the submit btn
}
.submit{
	background-color: var(--pink);
	border:none;
	width:50%;
	height: 40px;
	color:white;
	font-size: 20px;
	cursor: pointer;
	border-radius: 10px;

}
.submit:focus{
background-color: var(--violet);
transition: 0.2s;

}

@media (max-width:500px)
{
.container{
	width:100%;
	padding:5px;
}
.input-name{
	margin-bottom: -10px;
}
.name{
	width:100%;
	padding:8px 0 8px 40px;
	margin:3px;
}
.input-name span{
	padding:0;
	margin:0;
}
.submit{
	margin-bottom:20px;
}

.login-btn{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.login{
	font-size: 40px;

}






















@media (max-width:700px)
{
	.container{
		margin:50px auto;
		width:320px;
	}


}