 <!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>HTML course</title>
	<!-- <link rel="stylesheet" type="text/css" href="jscoursestyle.css"> -->
	<!-- static\courses_to_learn_style_script\js_course_style_script -->
	<link rel="stylesheet" href="{{ url_for('static',filename='courses_to_learn_style_script/js_course_style_script/jscoursestyle.css') }}">
</head>
<body>
	<header>
		 <span>Java script &nbsp; MASTER </span> 
	</header>
	 <div class="container">
	   
	     <div class="html_c">
    <span class="id">1</span>
    <span><a href="{{ url_for('jsvideo', videoId='Lgxgm-T9cgA&list') }}" onclick="openfullscreen()">introduction to js</a></span>
</div>

<div class="html_c">
    <span class="id">2</span>
    <span><a href="{{ url_for('jsvideo', videoId='C7Pf2gTfgP0&list') }}" onclick="openfullscreen()">implementation with html</a></span>
</div>

<div class="html_c">
    <span class="id">3</span>
    <span><a href="{{ url_for('jsvideo', videoId='ZEMvZZdbBZM') }}" onclick="openfullscreen()">html tags in js</a></span>
</div>

<div class="html_c">
    <span class="id">4</span>
    <span><a href="{{ url_for('jsvideo', videoId='SLxyizaN8X4') }}" onclick="openfullscreen()">comments</a></span>
</div>

<div class="html_c">
    <span class="id">5</span>
    <span><a href="{{ url_for('jsvideo', videoId='UHCHqInLg0M') }}" onclick="openfullscreen()">variables 1</a></span>
</div>

<div class="html_c">
    <span class="id">6</span>
    <span><a href="{{ url_for('jsvideo', videoId='oe-VrENM_Oo') }}" onclick="openfullscreen()">variables 2</a></span>
</div>

<div class="html_c">
    <span class="id">7</span>
    <span><a href="{{ url_for('jsvideo', videoId='p7mBGmKl6xY') }}" onclick="openfullscreen()">data types</a></span>
</div>

<div class="html_c">
    <span class="id">8</span>
    <span><a href="{{ url_for('jsvideo', videoId='g5llPHuhUUw') }}" onclick="openfullscreen()">arithmetic operators</a></span>
</div>

<div class="html_c">
    <span class="id">9</span>
    <span><a href="{{ url_for('jsvideo', videoId='CxBXe_iU_Qk') }}" onclick="openfullscreen()">assignment operators</a></span>
</div>

<div class="html_c">
    <span class="id">10</span>
    <span><a href="{{ url_for('jsvideo', videoId='G26aw_Nsk2c') }}" onclick="openfullscreen()">google chrome console</a></span>
</div>

<div class="html_c">
    <span class="id">11</span>
    <span><a href="{{ url_for('jsvideo', videoId='u5dGu62dbPc') }}" onclick="openfullscreen()">comparison operator</a></span>
</div>

<div class="html_c">
    <span class="id">12</span>
    <span><a href="{{ url_for('jsvideo', videoId='jz2UVpEuUZE') }}" onclick="openfullscreen()">if statement</a></span>
</div>

<div class="html_c">
    <span class="id">13</span>
    <span><a href="{{ url_for('jsvideo', videoId='nMyhq_Gsd_0') }}" onclick="openfullscreen()">logical operators</a></span>
</div>

<div class="html_c">
    <span class="id">14</span>
    <span><a href="{{ url_for('jsvideo', videoId='j6U4vfXuodw') }}" onclick="openfullscreen()">if else statement</a></span>
</div>

<div class="html_c">
    <span class="id">15</span>
    <span><a href="{{ url_for('jsvideo', videoId='-ZfjrcQRF-E') }}" onclick="openfullscreen()">if else if statement</a></span>
</div>

<div class="html_c">
    <span class="id">16</span>
    <span><a href="{{ url_for('jsvideo', videoId='QzaWmh0A-gA') }}" onclick="openfullscreen()">ternary operator</a></span>
</div>

<div class="html_c">
    <span class="id">17</span>
    <span><a href="{{ url_for('jsvideo', videoId='WYy_K75OGqk') }}" onclick="openfullscreen()">switch case</a></span>
</div>

<div class="html_c">
    <span class="id">18</span>
    <span><a href="{{ url_for('jsvideo', videoId='GAJ6yIZ7fu8') }}" onclick="openfullscreen()">alert box</a></span>
</div>

<div class="html_c">
    <span class="id">19</span>
    <span><a href="{{ url_for('jsvideo', videoId='aZJG44cVVzY') }}" onclick="openfullscreen()">confirm dialog box</a></span>
</div>

<div class="html_c">
    <span class="id">20</span>
    <span><a href="{{ url_for('jsvideo', videoId='SNtKKW_RKi0') }}" onclick="openfullscreen()">prompt dialog box</a></span>
</div>

<div class="html_c">
    <span class="id">21</span>
    <span><a href="{{ url_for('jsvideo', videoId='VBPlKT3x-MU') }}" onclick="openfullscreen()">functions</a></span>
</div>

<div class="html_c">
    <span class="id">22</span>
    <span><a href="{{ url_for('jsvideo', videoId='L1AtWLNpwuQ') }}" onclick="openfullscreen()">functions with parameters</a></span>
</div>

<div class="html_c">
    <span class="id">23</span>
    <span><a href="{{ url_for('jsvideo', videoId='ffIQPg2mG5w') }}" onclick="openfullscreen()">return statement</a></span>
</div>
<div class="html_c">
    <span class="id">24</span>
    <span><a href="{{ url_for('jsvideo', videoId='eaIOmh0Hyos') }}" onclick="openfullscreen()">global and local variables</a></span>
</div>

<div class="html_c">
    <span class="id">25</span>
    <span><a href="{{ url_for('jsvideo', videoId='R7mu7nKFc7w') }}" onclick="openfullscreen()">basic events</a></span>
</div>

<div class="html_c">
    <span class="id">26</span>
    <span><a href="{{ url_for('jsvideo', videoId='uceqnCKB2Hg') }}" onclick="openfullscreen()">while loop</a></span>
</div>

<div class="html_c">
    <span class="id">27</span>
    <span><a href="{{ url_for('jsvideo', videoId='id0gwYgDT68') }}" onclick="openfullscreen()">do while loop</a></span>
</div>

<div class="html_c">
    <span class="id">28</span>
    <span><a href="{{ url_for('jsvideo', videoId='aXlhVeinMfo') }}" onclick="openfullscreen()">for loop</a></span>
</div>

<div class="html_c">
    <span class="id">29</span>
    <span><a href="{{ url_for('jsvideo', videoId='eITYb9ljz0U') }}" onclick="openfullscreen()">break & continue statement</a></span>
</div>

<div class="html_c">
    <span class="id">30</span>
    <span><a href="{{ url_for('jsvideo', videoId='uo-yIJ6GTXw') }}" onclick="openfullscreen()">program (odd & even number)</a></span>
</div>

<div class="html_c">
    <span class="id">31</span>
    <span><a href="{{ url_for('jsvideo', videoId='i736Gi3nZy8') }}" onclick="openfullscreen()">nested loop</a></span>
</div>

<div class="html_c">
    <span class="id">32</span>
    <span><a href="{{ url_for('jsvideo', videoId='XVYzHgIyEDk') }}" onclick="openfullscreen()">nested loop examples</a></span>
</div>

<div class="html_c">
    <span class="id">33</span>
    <span><a href="{{ url_for('jsvideo', videoId='Xxn7lpjNwIw') }}" onclick="openfullscreen()">Arrays</a></span>
</div>

<div class="html_c">
    <span class="id">34</span>
    <span><a href="{{ url_for('jsvideo', videoId='Xxn7lpjNwIw') }}" onclick="openfullscreen()">array method 2</a></span>
</div>

<div class="html_c">
    <span class="id">35</span>
    <span><a href="{{ url_for('jsvideo', videoId='9wKRqGk55qg') }}" onclick="openfullscreen()">multidimensional array</a></span>
</div>

<div class="html_c">
    <span class="id">36</span>
    <span><a href="{{ url_for('jsvideo', videoId='KPNPHnmiEAM') }}" onclick="openfullscreen()">modify & delete</a></span>
</div>

<div class="html_c">
    <span class="id">37</span>
    <span><a href="{{ url_for('jsvideo', videoId='wjzguhR9uSE') }}" onclick="openfullscreen()">sort() & reverse() method</a></span>
</div>

<div class="html_c">
    <span class="id">38</span>
    <span><a href="{{ url_for('jsvideo', videoId='ipIFxfjdSCY') }}" onclick="openfullscreen()">pop() & push() method</a></span>
</div>

<div class="html_c">
    <span class="id">39</span>
    <span><a href="{{ url_for('jsvideo', videoId='sCO3QCSDlPc') }}" onclick="openfullscreen()">shift() & unshift() methods</a></span>
</div>

<div class="html_c">
    <span class="id">40</span>
    <span><a href="{{ url_for('jsvideo', videoId='0O5XeSCe5QM') }}" onclick="openfullscreen()">concat() & join()</a></span>
</div>

<div class="html_c">
    <span class="id">41</span>
    <span><a href="{{ url_for('jsvideo', videoId='Y5HlAex8O0g') }}" onclick="openfullscreen()">slice() & splice() method</a></span>
</div>

<div class="html_c">
    <span class="id">42</span>
    <span><a href="{{ url_for('jsvideo', videoId='xxm67NBPvPA') }}" onclick="openfullscreen()">isArray() method</a></span>
</div>

<div class="html_c">
    <span class="id">43</span>
    <span><a href="{{ url_for('jsvideo', videoId='P3AKR4Avzx8') }}" onclick="openfullscreen()">indexOf() & lastIndex() method</a></span>
</div>

<div class="html_c">
    <span class="id">44</span>
    <span><a href="{{ url_for('jsvideo', videoId='fsfFAe5fhpc') }}" onclick="openfullscreen()">includes()</a></span>
</div>

<div class="html_c">
    <span class="id">45</span>
    <span><a href="{{ url_for('jsvideo', videoId='TbkILUc8BFE') }}" onclick="openfullscreen()">some() & every()</a></span>
</div>

<div class="html_c">
    <span class="id">46</span>
    <span><a href="{{ url_for('jsvideo', videoId='daiUSEYvaMM') }}" onclick="openfullscreen()">find() & findIndex() method</a></span>
</div>

<div class="html_c">
    <span class="id">47</span>
    <span><a href="{{ url_for('jsvideo', videoId='JVSXa6pmHsc') }}" onclick="openfullscreen()">filter() method</a></span>
</div>

<div class="html_c">
    <span class="id">48</span>
    <span><a href="{{ url_for('jsvideo', videoId='80kYiMnpP88') }}" onclick="openfullscreen()">toString(), valueOf() & fill()</a></span>
</div>

<div class="html_c">
    <span class="id">49</span>
    <span><a href="{{ url_for('jsvideo', videoId='u2GVOicqFKM') }}" onclick="openfullscreen()">forEach()</a></span>
</div>

<div class="html_c">
  <span class="id">50</span>
  <span><a href="{{ url_for('jsvideo', videoId='JYKATlAS3ZU') }}" onclick="openfullscreen()"> objects </a></span>
</div>
<div class="html_c">
  <span class="id">51</span>
  <span><a href="{{ url_for('jsvideo', videoId='Jwm40bInIRM') }}" onclick="openfullscreen()"> objects method </a></span>
</div>
<div class="html_c">
  <span class="id">52</span>
  <span><a href="{{ url_for('jsvideo', videoId='1ZRpey-0kHg') }}" onclick="openfullscreen()"> array of object </a></span>
</div>
<div class="html_c">
  <span class="id">53</span>
  <span><a href="{{ url_for('jsvideo', videoId='L8E7izVDK7s') }}" onclick="openfullscreen()"> const var with Array & obj </a></span>
</div>
<div class="html_c">
  <span class="id">54</span>
  <span><a href="{{ url_for('jsvideo', videoId='q-x563o-lBc') }}" onclick="openfullscreen()"> for in loop </a></span>
</div>
<div class="html_c">
  <span class="id">55</span>
  <span><a href="{{ url_for('jsvideo', videoId='i17a2cHGsIg') }}" onclick="openfullscreen()"> map() </a></span>
</div>
<div class="html_c">
  <span class="id">56</span>
  <span><a href="{{ url_for('jsvideo', videoId='q4Fne_Kwkxs') }}" onclick="openfullscreen()"> string methods </a></span>
</div>
<div class="html_c">
  <span class="id">57</span>
  <span><a href="{{ url_for('jsvideo', videoId='irOLrmZT-5E') }}" onclick="openfullscreen()"> string methods 2 </a></span>
</div>
<div class="html_c">
  <span class="id">58</span>
  <span><a href="{{ url_for('jsvideo', videoId='kp8bbu4IgEY') }}" onclick="openfullscreen()"> Number methods </a></span>
</div>
<div class="html_c">
  <span class="id">59</span>
  <span><a href="{{ url_for('jsvideo', videoId='zKVXQ_RgRJA') }}" onclick="openfullscreen()"> math methods </a></span>
</div>
<div class="html_c">
  <span class="id">60</span>
  <span><a href="{{ url_for('jsvideo', videoId='VSKwgWPVA9M') }}" onclick="openfullscreen()"> date methods </a></span>
</div>
<div class="html_c">
  <span class="id">61</span>
  <span><a href="{{ url_for('jsvideo', videoId='YIawGqNxe0E') }}" onclick="openfullscreen()"> Dom introduction </a></span>
</div>
<div class="html_c">
  <span class="id">62</span>
  <span><a href="{{ url_for('jsvideo', videoId='y9Tl-PBprdA') }}" onclick="openfullscreen()"> targeting methods </a></span>
</div>
<div class="html_c">
  <span class="id">63</span>
  <span><a href="{{ url_for('jsvideo', videoId='90lP6-LXPl8') }}" onclick="openfullscreen()"> get & set values </a></span>
</div>
<div class="html_c">
  <span class="id">64</span>
  <span><a href="{{ url_for('jsvideo', videoId='Tmn1kTysDOQ') }}" onclick="openfullscreen()"> querySelector() & querySelectorAll() </a></span>
</div>
<div class="html_c">
  <span class="id">65</span>
  <span><a href="{{ url_for('jsvideo', videoId='JeuPPUjY4kQ') }}" onclick="openfullscreen()"> css styling methods </a></span>
</div>
<div class="html_c">
  <span class="id">66</span>
  <span><a href="{{ url_for('jsvideo', videoId='NhRhrAziBRU') }}" onclick="openfullscreen()"> addEventListener() </a></span>
</div>
<div class="html_c">
  <span class="id">67</span>
  <span><a href="{{ url_for('jsvideo', videoId='ykwBHnxP020') }}" onclick="openfullscreen()"> classList() </a></span>
</div>
<div class="html_c">
  <span class="id">68</span>
  <span><a href="{{ url_for('jsvideo', videoId='Pe3sdhA7YME') }}" onclick="openfullscreen()"> parentElement & parentNode </a></span>
</div>
<div class="html_c">
  <span class="id">69</span>
  <span><a href="{{ url_for('jsvideo', videoId='nYr4e4H09MM') }}" onclick="openfullscreen()"> children & childNodes </a></span>
</div>
<div class="html_c">
  <span class="id">70</span>
  <span><a href="{{ url_for('jsvideo', videoId='Fo2QsLDOYlY') }}" onclick="openfullscreen()"> firstchild & lastchild </a></span>
</div>
<div class="html_c">
    <span class="id">71</span>
    <span><a href="{{ url_for('jsvideo', videoId='kn1BVQYgEDk') }}" onclick="openfullscreen()"> sibling </a></span>
</div>
<div class="html_c">
    <span class="id">72</span>
    <span><a href="{{ url_for('jsvideo', videoId='kn1BVQYgEDk') }}" onclick="openfullscreen()"> createElement & Textnode </a></span>
</div>
<div class="html_c">
    <span class="id">73</span>
    <span><a href="{{ url_for('jsvideo', videoId='XJU0KdOdwLM') }}" onclick="openfullscreen()"> appendchild & insertbefore </a></span>
</div>
<div class="html_c">
    <span class="id">74</span>
    <span><a href="{{ url_for('jsvideo', videoId='1SYUI0uHksM') }}" onclick="openfullscreen()"> adjacenthtml </a></span>
</div>
<div class="html_c">
    <span class="id">75</span>
    <span><a href="{{ url_for('jsvideo', videoId='x7sKDeL7SrA') }}" onclick="openfullscreen()"> child replace & remove </a></span>
</div>
<div class="html_c">
    <span class="id">76</span>
    <span><a href="{{ url_for('jsvideo', videoId='xwpGrNTP_oo') }}" onclick="openfullscreen()"> cloneNode() </a></span>
</div>
<div class="html_c">
    <span class="id">77</span>
    <span><a href="{{ url_for('jsvideo', videoId='hkgqaCOK3r8') }}" onclick="openfullscreen()"> contains() </a></span>
</div>
<div class="html_c">
    <span class="id">78</span>
    <span><a href="{{ url_for('jsvideo', videoId='me-Yuhf8CtI') }}" onclick="openfullscreen()"> hasattribute() & childnodes() </a></span>
</div>
<div class="html_c">
    <span class="id">79</span>
    <span><a href="{{ url_for('jsvideo', videoId='oQbDKJ3WXZg') }}" onclick="openfullscreen()">isEqualNode() </a></span>
</div>
<div class="html_c">
    <span class="id">80</span>
    <span><a href="{{ url_for('jsvideo', videoId='oQbDKJ3WXZg') }}" onclick="openfullscreen()"> form Events </a></span>
</div>
<div class="html_c">
    <span class="id">81</span>
    <span><a href="{{ url_for('jsvideo', videoId='Y3bdUHR9Cus') }}" onclick="openfullscreen()"> form Events 2 </a></span>
</div>
<div class="html_c">
    <span class="id">82</span>
    <span><a href="{{ url_for('jsvideo', videoId='aPYcERo8IGA') }}" onclick="openfullscreen()"> set & clear interval </a></span>
</div>
<div class="html_c">
    <span class="id">83</span>
    <span><a href="{{ url_for('jsvideo', videoId='o83Z3ORQBrU') }}" onclick="openfullscreen()"> set & clear Timeout() </a></span>
</div>
<div class="html_c">
    <span class="id">84</span>
    <span><a href="{{ url_for('jsvideo', videoId='rsLZGZPFGqw') }}" onclick="openfullscreen()"> BOM Introduction </a></span>
</div>
<div class="html_c">
    <span class="id">85</span>
    <span><a href="{{ url_for('jsvideo', videoId='LSJwoxRBjoA') }}" onclick="openfullscreen()"> window height & width </a></span>
</div>
<div class="html_c">
    <span class="id">86</span>
    <span><a href="{{ url_for('jsvideo', videoId='tkMZ5n8EObk') }}" onclick="openfullscreen()"> window open() & close() </a></span>
</div>
<div class="html_c">
    <span class="id">87</span>
    <span><a href="{{ url_for('jsvideo', videoId='zbaOou2b95g') }}" onclick="openfullscreen()"> window moveBy() & moveTo() </a></span>
</div>
<div class="html_c">
    <span class="id">88</span>
    <span><a href="{{ url_for('jsvideo', videoId='VZPCq-mkwEU') }}" onclick="openfullscreen()"> window resizeBy() & resizeTo() </a></span>
</div>
<div class="html_c">
    <span class="id">89</span>
    <span><a href="{{ url_for('jsvideo', videoId='6AumMbHpahE') }}" onclick="openfullscreen()"> window scrollBy() & scrollTo() </a></span>
</div>
<div class="html_c">
    <span class="id">90</span>
    <span><a href="{{ url_for('jsvideo', videoId='pFHw1Hl08nk') }}" onclick="openfullscreen()"> location object </a></span>
</div>
<div class="html_c">
    <span class="id">91</span>
    <span><a href="{{ url_for('jsvideo', videoId='nYrCHWPjsbk') }}" onclick="openfullscreen()"> History Object </a></span>
</div>
<div class="html_c">
    <span class="id">92</span>
    <span><a href="{{ url_for('jsvideo', videoId='88QdfLznDrU') }}" onclick="openfullscreen()"> pageYoffset() & pageXoffset() </a></span>
</div>
<div class="html_c">
    <span class="id">93</span>
    <span><a href="{{ url_for('jsvideo', videoId='UCyRN-StraI') }}" onclick="openfullscreen()"> offsetTop() & offsetLeft() </a></span>
</div>
<div class="html_c">
    <span class="id">94</span>
    <span><a href="{{ url_for('jsvideo', videoId='phbiXWeF3CM') }}" onclick="openfullscreen()"> scrollTop & scrollLeft </a></span>
</div>
<div class="html_c">
    <span class="id">95</span>
    <span><a href="{{ url_for('jsvideo', videoId='nGEqTZQh1B4') }}" onclick="openfullscreen()"> scrollWidth & scrollheight </a></span>
</div>
<div class="html_c">
    <span class="id">96</span>
    <span><a href="{{ url_for('jsvideo', videoId='NaU2kJ_zdUA') }}" onclick="openfullscreen()"> offsetwidth & offsetheight </a></span>
</div>
<div class="html_c">
    <span class="id">97</span>
    <span><a href="{{ url_for('jsvideo', videoId='o_L-pyHs4dQ') }}" onclick="openfullscreen()"> clientWidth & clientHeight </a></span>
</div>
<div class="html_c">
    <span class="id">98</span>
    <span><a href="{{ url_for('jsvideo', videoId='oxiAyb6gGys') }}" onclick="openfullscreen()"> clientX & clientY </a></span>
</div>
<div class="html_c">
    <span class="id">99</span>
    <span><a href="{{ url_for('jsvideo', videoId='zEG_YlfYAEQ') }}" onclick="openfullscreen()"> pageX & pageY </a></span>
</div>
<div class="html_c">
    <span class="id">100</span>
    <span><a href="{{ url_for('jsvideo', videoId='9bb1tKf6J48') }}" onclick="openfullscreen()"> screeX & screenY </a></span>
</div>
<div class="html_c">
    <span class="id">101</span>
    <span><a href="{{ url_for('jsvideo', videoId='WfUdZcP-uvI') }}" onclick="openfullscreen()"> offsetX & offsetY </a></span>
</div>
<div class="html_c">
    <span class="id">102</span>
    <span><a href="{{ url_for('jsvideo', videoId='U4TmZjvRsiA') }}" onclick="openfullscreen()"> keys </a></span>
</div>
<div class="html_c">
    <span class="id">103</span>
    <span><a href="{{ url_for('jsvideo', videoId='zRfFccB2gLc') }}" onclick="openfullscreen()"> MouseEvent Property </a></span>
</div>
<div class="html_c">
    <span class="id">104</span>
    <span><a href="{{ url_for('jsvideo', videoId='-IwP1eoLaBw') }}" onclick="openfullscreen()"> keyboardEvent property </a></span>
</div>
<div class="html_c">
    <span class="id">105</span>
    <span><a href="{{ url_for('jsvideo', videoId='Corhned52CI') }}" onclick="openfullscreen()"> clipboard events </a></span>
</div>
<div class="html_c">
    <span class="id">106</span>
    <span><a href="{{ url_for('jsvideo', videoId='Jd4ilmtW0KI') }}" onclick="openfullscreen()"> ononline & onoffline events </a></span>
</div>
<div class="html_c">
    <span class="id">107</span>
    <span><a href="{{ url_for('jsvideo', videoId='IUFJzLlf2cE') }}" onclick="openfullscreen()"> adv javascript </a></span>
</div>


</body>
<script  src="static/courses_to_learn_style_script/js_course_style_script/script2.js"></script>
</html>











