:root{
    --pink:#ff046f;
    --violet:#c63BFa;
}



body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f4f4f4;
}

header {
/*    background-color: #333;*/
background-color: var(--pink);
    color: white;
    padding: 20px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.card {
    background: white;
    padding: 20px;
    margin: 10px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
}

button {
/*    background-color: #28a745;*/
background-color: var(--violet);
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
/*    background-color: #218838;*/
background-color: var(--pink);
}

.hidden {
    display: none;
}