 <!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>HTML course</title>
<!-- <link rel="stylesheet" type="text/css" href="pythoncoursestyle.css"> -->
	<link rel="stylesheet" href="{{ url_for('static',filename='courses_to_learn_style_script/c_course_style_script/ccoursestyle.css') }}">

	<!-- <link rel="stylesheet" type="text/css" href="ccoursestyle.css"> -->
</head>
<body>
	<header>
		 <span>c language &nbsp; MASTER </span> 
	</header>
	 <div class="container">
	     <div class="html_c">
  <span class="id">1</span>
  <span><a href="{{ url_for('c_video', videoId='7Dh73z3icd8') }}" onclick="openfullscreen()">Why to Learn C</a></span>
</div>

<div class="html_c">
  <span class="id">2</span>
  <span><a href="{{ url_for('c_video', videoId='Wa-kgmSLls4') }}" onclick="openfullscreen()">What is Programming</a></span>
</div>

<div class="html_c">
  <span class="id">3</span>
  <span><a href="{{ url_for('c_video', videoId='9xCskNFVt2c') }}" onclick="openfullscreen()">Installation Process</a></span>
</div>

<div class="html_c">
  <span class="id">4</span>
  <span><a href="{{ url_for('c_video', videoId='5SIBB589fAg') }}" onclick="openfullscreen()">Working</a></span>
</div>

<div class="html_c">
  <span class="id">5</span>
  <span><a href="{{ url_for('c_video', videoId='PrVOM7M5nEY') }}" onclick="openfullscreen()">Syntax & Tokens</a></span>
</div>

<div class="html_c">
  <span class="id">6</span>
  <span><a href="{{ url_for('c_video', videoId='EcUGDTs4RyY') }}" onclick="openfullscreen()">Variables & Data Types</a></span>
</div>

<div class="html_c">
  <span class="id">7</span>
  <span><a href="{{ url_for('c_video', videoId='V4Wwuu05_t4') }}" onclick="openfullscreen()">Operators</a></span>
</div>

<div class="html_c">
  <span class="id">8</span>
  <span><a href="{{ url_for('c_video', videoId='c3Pd1xQlfWE') }}" onclick="openfullscreen()">Exercise 1</a></span>
</div>

<div class="html_c">
  <span class="id">9</span>
  <span><a href="{{ url_for('c_video', videoId='XETsCR2bXJI') }}" onclick="openfullscreen()">Format Specifier & Escape Sequence</a></span>
</div>

<div class="html_c">
  <span class="id">10</span>
  <span><a href="{{ url_for('c_video', videoId='D0ACZ0uU_2g') }}" onclick="openfullscreen()">If Else Control Statement</a></span>
</div>

<div class="html_c">
  <span class="id">11</span>
  <span><a href="{{ url_for('c_video', videoId='E8weUIY2-iw') }}" onclick="openfullscreen()">Switch Case Statement</a></span>
</div>

<div class="html_c">
  <span class="id">12</span>
  <span><a href="{{ url_for('c_video', videoId='A_IgufxmIHk') }}" onclick="openfullscreen()">Loops in C</a></span>
</div>

<div class="html_c">
  <span class="id">13</span>
  <span><a href="{{ url_for('c_video', videoId='S2z0OTZoziI') }}" onclick="openfullscreen()">Do While Loop</a></span>
</div>

<div class="html_c">
  <span class="id">14</span>
  <span><a href="{{ url_for('c_video', videoId='0KzWpgMLDmk') }}" onclick="openfullscreen()">While Loop</a></span>
</div>

<div class="html_c">
  <span class="id">15</span>
  <span><a href="{{ url_for('c_video', videoId='T5_qpdDtTZ0') }}" onclick="openfullscreen()">For Loop</a></span>
</div>

<div class="html_c">
  <span class="id">16</span>
  <span><a href="{{ url_for('c_video', videoId='yeH9DZlpbmM') }}" onclick="openfullscreen()">Break & Continue</a></span>
</div>

<div class="html_c">
  <span class="id">17</span>
  <span><a href="{{ url_for('c_video', videoId='AWUxfROdzPc') }}" onclick="openfullscreen()">Goto Statement</a></span>
</div>

<div class="html_c">
  <span class="id">18</span>
  <span><a href="{{ url_for('c_video', videoId='qc7FU9jWAxk') }}" onclick="openfullscreen()">Typecasting in C</a></span>
</div>

<div class="html_c">
  <span class="id">19</span>
  <span><a href="{{ url_for('c_video', videoId='CSJLuARmzg0') }}" onclick="openfullscreen()">Functions</a></span>
</div>

<div class="html_c">
  <span class="id">20</span>
  <span><a href="{{ url_for('c_video', videoId='nq_999WmWTY') }}" onclick="openfullscreen()">Exercise 1: Solution</a></span>
</div>


<div class="html_c">
  <span class="id">21</span>
  <span><a href="{{ url_for('c_video', videoId='P5TdIWxYz4I') }}" onclick="openfullscreen()">recursive function</a></span>
</div>
<div class="html_c">
  <span class="id">22</span>
  <span><a href="{{ url_for('c_video', videoId='mLKRZg3I66g') }}" onclick="openfullscreen()">exercise 2</a></span>
</div>
<div class="html_c">
  <span class="id">23</span>
  <span><a href="{{ url_for('c_video', videoId='qKFBtCPwjgI') }}" onclick="openfullscreen()">arrays</a></span>
</div>
<div class="html_c">
  <span class="id">24</span>
  <span><a href="{{ url_for('c_video', videoId='UUkEFH20IL4') }}" onclick="openfullscreen()">exercise 2:solution</a></span>
</div>
<div class="html_c">
  <span class="id">25</span>
  <span><a href="{{ url_for('c_video', videoId='-y_YOWV4kPc') }}" onclick="openfullscreen()">exercise 3</a></span>
</div>
<div class="html_c">
  <span class="id">26</span>
  <span><a href="{{ url_for('c_video', videoId='IBjGjDbwxSg') }}" onclick="openfullscreen()">pointer</a></span>
</div>
<div class="html_c">
  <span class="id">27</span>
  <span><a href="{{ url_for('c_video', videoId='RhLSYjDXB4Q') }}" onclick="openfullscreen()">pointers & arrays</a></span>
</div>
<div class="html_c">
  <span class="id">28</span>
  <span><a href="{{ url_for('c_video', videoId='Wtoekh_12kI') }}" onclick="openfullscreen()">exercise 3:solution</a></span>
</div>
<div class="html_c">
  <span class="id">29</span>
  <span><a href="{{ url_for('c_video', videoId='L39wmuaupa8') }}" onclick="openfullscreen()">recursion</a></span>
</div>
<div class="html_c">
  <span class="id">30</span>
  <span><a href="{{ url_for('c_video', videoId='Gtlskam5ric') }}" onclick="openfullscreen()">star patterns</a></span>
</div>
<div class="html_c">
  <span class="id">31</span>
  <span><a href="{{ url_for('c_video', videoId='6R0jNW6j2NA') }}" onclick="openfullscreen()">call by value & reference</a></span>
</div>
<div class="html_c">
  <span class="id">32</span>
  <span><a href="{{ url_for('c_video', videoId='iaWMpHLQmDU') }}" onclick="openfullscreen()">arrays as argument</a></span>
</div>
<div class="html_c">
  <span class="id">33</span>
  <span><a href="{{ url_for('c_video', videoId='SFiRyw8R8mE') }}" onclick="openfullscreen()">star pattern</a></span>
</div>
<div class="html_c">
  <span class="id">34</span>
  <span><a href="{{ url_for('c_video', videoId='fltaqGek-oA') }}" onclick="openfullscreen()">string</a></span>
</div>
<div class="html_c">
  <span class="id">35</span>
  <span><a href="{{ url_for('c_video', videoId='L2aTSqTcJs8') }}" onclick="openfullscreen()">string.h library</a></span>
</div>
<div class="html_c">
  <span class="id">36</span>
  <span><a href="{{ url_for('c_video', videoId='FUcFssRCT70') }}" onclick="openfullscreen()">array reversal</a></span>
</div>
<div class="html_c">
  <span class="id">37</span>
  <span><a href="{{ url_for('c_video', videoId='J464pe6ZTrE') }}" onclick="openfullscreen()">structures</a></span>
</div>
<div class="html_c">
  <span class="id">38</span>
  <span><a href="{{ url_for('c_video', videoId='sxQ4hRHLVAc') }}" onclick="openfullscreen()">typedef</a></span>
</div>
<div class="html_c">
  <span class="id">39</span>
  <span><a href="{{ url_for('c_video', videoId='C3zS6WPxHPY') }}" onclick="openfullscreen()">union</a></span>
</div>
<div class="html_c">
  <span class="id">40</span>
  <span><a href="{{ url_for('c_video', videoId='ijgm-QLEsHM') }}" onclick="openfullscreen()">exercise 5:solution</a></span>
</div>
<div class="html_c">
  <span class="id">41</span>
  <span><a href="{{ url_for('c_video', videoId='K_9qlP7D8ik') }}" onclick="openfullscreen()">exercise 6</a></span>
</div>
<div class="html_c">
  <span class="id">42</span>
  <span><a href="{{ url_for('c_video', videoId='u98KvPuaIus') }}" onclick="openfullscreen()">variables</a></span>
</div>
<div class="html_c">
  <span class="id">43</span>
  <span><a href="{{ url_for('c_video', videoId='7uBBK6H3rTw') }}" onclick="openfullscreen()">exercise 6:solution</a></span>
</div>
<div class="html_c">
  <span class="id">44</span>
  <span><a href="{{ url_for('c_video', videoId='RZ0trTpVVMM') }}" onclick="openfullscreen()">exercise 7</a></span>
</div>
<div class="html_c">
  <span class="id">45</span>
  <span><a href="{{ url_for('c_video', videoId='kmV55hPsSQE') }}" onclick="openfullscreen()">memory layout</a></span>
</div>
<div class="html_c">
  <span class="id">46</span>
  <span><a href="{{ url_for('c_video', videoId='zx7jBJkEEt8') }}" onclick="openfullscreen()"> exercise 7: solution </a></span>
</div>
<div class="html_c">
  <span class="id">47</span>
  <span><a href="{{ url_for('c_video', videoId='q8j8EqCZcWM') }}" onclick="openfullscreen()"> dynamic memory allocation </a></span>
</div>
<div class="html_c">
  <span class="id">48</span>
  <span><a href="{{ url_for('c_video', videoId='kBSJl6r70aA') }}" onclick="openfullscreen()"> exercise 8 </a></span>
</div>
<div class="html_c">
  <span class="id">49</span>
  <span><a href="{{ url_for('c_video', videoId='0yNX8aYPBRg') }}" onclick="openfullscreen()"> storage classes </a></span>
</div>
<div class="html_c">
  <span class="id">50</span>
  <span><a href="{{ url_for('c_video', videoId='9vbXVOE7ufg') }}" onclick="openfullscreen()"> exercise 8: solution </a></span>
</div>
<div class="html_c">
  <span class="id">51</span>
  <span><a href="{{ url_for('c_video', videoId='23FDUZy1jJw') }}" onclick="openfullscreen()"> exercise 9 </a></span>
</div>
<div class="html_c">
  <span class="id">52</span>
  <span><a href="{{ url_for('c_video', videoId='HQzIJJTTCBk') }}" onclick="openfullscreen()"> void pointer </a></span>
</div>
<div class="html_c">
  <span class="id">53</span>
  <span><a href="{{ url_for('c_video', videoId='lWX0nSBxcrc') }}" onclick="openfullscreen()"> null pointer </a></span>
</div>
<div class="html_c">
  <span class="id">54</span>
  <span><a href="{{ url_for('c_video', videoId='PAgnCAMY4t8') }}" onclick="openfullscreen()"> dangling pointer </a></span>
</div>
<div class="html_c">
  <span class="id">55</span>
  <span><a href="{{ url_for('c_video', videoId='zYDHG6qt_lo') }}" onclick="openfullscreen()"> wild pointer </a></span>
</div>
<div class="html_c">
  <span class="id">56</span>
  <span><a href="{{ url_for('c_video', videoId='OFeX90DiXLI') }}" onclick="openfullscreen()"> rock paper & scissors </a></span>
</div>
<div class="html_c">
  <span class="id">57</span>
  <span><a href="{{ url_for('c_video', videoId='bwx4gqfeJok') }}" onclick="openfullscreen()"> exercise 10 </a></span>
</div>
<div class="html_c">
  <span class="id">58</span>
  <span><a href="{{ url_for('c_video', videoId='P9IAfh89EK8') }}" onclick="openfullscreen()"> intro to c preprocessor </a></span>
</div>
<div class="html_c">
  <span class="id">59</span>
  <span><a href="{{ url_for('c_video', videoId='qDIpHL8Al20') }}" onclick="openfullscreen()"> #define & #include </a></span>
</div>
<div class="html_c">
  <span class="id">60</span>
  <span><a href="{{ url_for('c_video', videoId='iOTf_ZgrU20') }}" onclick="openfullscreen()"> predefined Macros </a></span>
</div>
<div class="html_c">
	      	<span class="id">61</span>
	      	<span> <a href="{{ url_for('c_video', videoId='7QX_vwJMsL0') }}" onclick="openfullscreen()">  matrix multiplication </a></span>
	     </div>
	     <div class="html_c">
	      	<span class="id">62</span>
	      	<span> <a href="{{ url_for('c_video', videoId='C286MZpbNl8') }}" onclick="openfullscreen()"> file I/O   </a></span>
	     </div>
	     <div class="html_c">
	      	<span class="id">63</span>
	      	<span> <a href="{{ url_for('c_video', videoId='kFTwAWiQUIg') }}" onclick="openfullscreen()"> exercise 11  </a></span>
	     </div>
	     <div class="html_c">
	      	<span class="id">64</span>
	      	<span> <a href="{{ url_for('c_video', videoId='qbeKkYSMe-Y') }}" onclick="openfullscreen()"> file I/O functions  </a></span>
	     </div>
	     <div class="html_c">
	      	<span class="id">65</span>
	      	<span> <a href="{{ url_for('c_video', videoId='WUG2rN0cG9c') }}" onclick="openfullscreen()"> exercise 11:solution  </a></span>
	     </div>
	     <div class="html_c">
	      	<span class="id">66</span>
	      	<span> <a href="{{ url_for('c_video', videoId='dJA5qWhCXvE') }}" onclick="openfullscreen()">  exercise 12 </a></span>
	     </div>
	     <div class="html_c">
	      	<span class="id">67</span>
	      	<span> <a href="{{ url_for('c_video', videoId='qg69AXmHhx8') }}" onclick="openfullscreen()"> file I/O   </a></span>
	     </div>
	     <div class="html_c">
	      	<span class="id">68</span>
	      	<span> <a href="{{ url_for('c_video', videoId='CMkymwLBSyg') }}" onclick="openfullscreen()"> command line argument  </a></span>
	     </div>
	     <div class="html_c">
	      	<span class="id">69</span>
	      	<span> <a href="{{ url_for('c_video', videoId='9HcUfc6_0Oc') }}" onclick="openfullscreen()">  exercise 12 </a></span>
	     </div>
	     <div class="html_c">
	      	<span class="id">70</span>
	      	<span> <a href="{{ url_for('c_video', videoId='CqRCD3Vv6xM') }}" onclick="openfullscreen()"> exercise 13   </a></span>
	     </div>

	     <div class="html_c">
	      	<span class="id">71</span>
	      	<span> <a href="{{ url_for('c_video', videoId='7G0ceg3ElqY') }}" onclick="openfullscreen()">  exercise 13 :solution </a></span>
	     </div>
	     <div class="html_c">
	      	<span class="id">72</span>
	      	<span> <a href="{{ url_for('c_video', videoId='TjgU8oTd61E') }}" onclick="openfullscreen()"> functions pointer   </a></span>
	     </div>
	     <div class="html_c">
	      	<span class="id">73</span>
	      	<span> <a href="{{ url_for('c_video', videoId='ixsfbrvoFwA') }}" onclick="openfullscreen()"> callback function  </a></span>
	     </div>
	     <div class="html_c">
	      	<span class="id">74</span>
	      	<span> <a href="{{ url_for('c_video', videoId='QPACZmKLx_c') }}" onclick="openfullscreen()">  function pointer </a></span>
	     </div>
	     <div class="html_c">
	      	<span class="id">75</span>
	      	<span> <a href="{{ url_for('c_video', videoId='5tFhNUJSFrc') }}" onclick="openfullscreen()"> memory leak   </a></span>
	     </div>
	     <div class="html_c">
	      	<span class="id">76</span>
	      	<span> <a href="{{ url_for('c_video', videoId='VxBsanSLMSA') }}" onclick="openfullscreen()">  exercise 14 :solution  </a></span>
	     </div>


</body>
<script  src="courses_to_learn_style_script/c_course_style_script/script2.js"></script>
</html>











