<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>HTML course</title>
	<!-- <link rel="stylesheet" type="text/css" href="csscoursestyle.css"> -->
	<!-- static\courses_to_learn_style_script\css_course_style_script -->
	<link rel="stylesheet" href="{{ url_for('static',filename='courses_to_learn_style_script/css_course_style_script/csscoursestyle.css') }}">
</head>
<body>
	<header>
		 <span>css &nbsp; MASTER </span> 
	</header>
	 <div class="container">
	     

        <!-- <div class="html_c"><span class="id">1</span>    , TThZIt4r3eg&list yeh pehel se tha
          <span><a href="{{ url_for('css_video', videoId='GpcMasRWUhI') }}" onclick="openfullscreen()">Introduction to HTML</a></span> 
        </div> -->

        <div class="html_c">
	     	<span class="id">1</span>
	     	<span><a href="{{ url_for('css_video', videoId='TThZIt4r3eg&list') }}" onclick="openfullscreen()">Introduction to css </a></span> 
	     </div>

	     <div class="html_c">                                  
	     	<span class="id">2</span>
	     	<span> <a href= "{{ url_for('css_video', videoId='cb-p_gkhIC0&list') }}" onclick="openfullscreen()"> color &  background color</a></span>
	     </div>

	     <div class="html_c">
	     	<span class="id">3</span>
	     	<span> <a href="{{ url_for('css_video', videoId='nPYuVfdJPaQ&list') }}"   onclick="openfullscreen()">  css basic selectors </a></span>
	     </div>

	      <div class="html_c">    
	     	<span class="id">4</span>
	     	<span> <a href="{{ url_for('css_video', videoId='B6vIXBQH0a0&list') }}"  onclick="openfullscreen()"> css border </a></span>
	       </div>


	       <div class="html_c">    
	     	<span class="id">5</span>
	     	<span> <a href= "{{ url_for('css_video', videoId='-YWYf43Flho&list') }}"  onclick="openfullscreen()">css outline </a></span> 
	       </div>

	       <div class="html_c">    
	     	<span class="id">6</span>
	     	<span> <a href="{{ url_for('css_video', videoId='vptCiCt5pd4&list') }}"  onclick="openfullscreen()">   css padding   </a></span>
	       </div>



	     <div class="html_c">
	     	 <span class="id">7</span>
	     	 <span><a href="{{ url_for('css_video', videoId='u1peNIKIQqY&list') }}"  onclick="openfullscreen()">  css margin </a></span>
	     </div>

	    <div class="html_c">
	     	 <span class="id">8</span>
	     	 <span><a href="{{ url_for('css_video', videoId='ZlNntIzOM9A&list') }}"  onclick="openfullscreen()">  css height and width </a></span></div>

	     <div class="html_c">
	     	<span class="id"> 9</span>
	     	<span> <a href="{{ url_for('css_video', videoId='6J0mGQtubAo&list') }}"   onclick="openfullscreen()">  min-height and max-height </a></span>
	     </div>
	     <div class="html_c">
	     	<span class="id">10</span>
	     	<span> <a href="{{ url_for('css_video', videoId='Si_vVgOfwNk&list') }}"  onclick="openfullscreen()">  min-width and max-width </a></span>
	     </div>
	     <div class="html_c">
	     	<span class="id">11</span>
	     	<span> <a href="{{ url_for('css_video', videoId='ojBvwWId5vY&list') }}"   onclick="openfullscreen()"> css box-sizing </a></span>
	     </div>

	     <div class="html_c">
	     	<span class="id">12</span>
	     	<span><a href="{{ url_for('css_video', videoId='1qEqhCWMvfo&list') }}"  onclick="openfullscreen()">  css overflow </a> </span>
	     </div>

	     <div class="html_c">
	     	<span class="id">13</span>
	     	<span> <a href="{{ url_for('css_video', videoId='aB2Y8VwV1X8&list') }}"   onclick="openfullscreen()">  css box-radius </a></span>
	     </div>



	     <div class="html_c">
	     	<span class="id">14</span>
	     	<span> <a href="{{ url_for('css_video', videoId='HEXKgdDQMrU&list') }}"  onclick="openfullscreen()"> css box-shadow </a></span>
	     </div>

	     <div class="html_c">
	     	<span class="id">15</span>
	     	<span> <a href="{{ url_for('css_video', videoId='dfFyYoI9YMg&list') }}"   onclick="openfullscreen()">  css float </a></span>
	     </div>

	     <div class="html_c">
	     	<span class="id">16</span>
	     	<span> <a href="{{ url_for('css_video', videoId='2rpgrrzx7-k&list') }}"   onclick="openfullscreen()">  css clear </a></span>
	     </div>
	     <div class="html_c">
	     	<span class="id">17</span>
	     	<span> <a href="{{ url_for('css_video', videoId='5IVbuwrrqBE&list') }}"  onclick="openfullscreen()"> css font properties </a></span>
	     </div>
	     <div class="html_c">
	     	<span class="id"> 18 </span>
	     	<span><a href="{{ url_for('css_video', videoId='fOl16TGp9vg&list') }}"   onclick="openfullscreen()"> text  fromatting </a></span>
	     </div>
	     <div class="html_c">
	     	<span class="id">19</span>
	     	<span><a href="{{ url_for('css_video', videoId='UJQHGJKeWsQ&list') }}"  onclick="openfullscreen()">  text-decoration</a></span>
	     </div>
	 

</body>
<script  src="static/courses_to_learn_style_script/css_course_style_script/script2.js"></script>
</html>