 <!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>HTML course</title>
	<!-- <link rel="stylesheet" type="text/css" href="htmlcoursestyle.css"> -->
	<!-- static\courses_to_learn_style_script\html_course_style_script -->
	<link rel="stylesheet" href="{{ url_for('static',filename='courses_to_learn_style_script/html_course_style_script/htmlcoursestyle.css') }}">
</head>
<body>
	<header>
		 <span>HTML &nbsp; MASTER </span> 
	</header>
	 <!-- <div class="container">
	     <div class="html_c">
	     	<span class="id">1</span>
	     	<span><a href="video.html?videoId=GpcMasRWUhI&t" onclick="openfullscreen()">Introduction to HTML </a></span> 
	     </div>
	     <div class="html_c">
	     	<span class="id">2</span>
	     	<span> <a href="video.html?videoId=V1JBgugIL8w" onclick="openfullscreen()">Basic syntax </a></span>
	     </div>
	     <div class="html_c">
	     	<span class="id">3</span>
	     	<span> <a href="video.html?videoId=Tu14tj4ar_A" onclick="openfullscreen()"> Basic syntax (practical)</a></span>
	     </div>
	      <div class="html_c">    
	     	<span class="id">4.1</span>
	     	<span> <a href="video.html?videoId=YBmpqYthJJ8" onclick="openfullscreen()">Text Formating 1 </a></span>
	       </div>


	       <div class="html_c">    
	     	<span class="id">4.2</span>
	     	<span> <a href="video.html?videoId=XwXkZ74vQ4E"  onclick="openfullscreen()">Text Formating 2 </a></span> 
	       </div>

	       <div class="html_c">    
	     	<span class="id">4.3</span>
	     	<span> <a href="video.html?videoId=jCsIho1SacM" onclick="openfullscreen()">Text Formating 3 </a></span>
	       </div>



	     <div class="html_c">
	     	 <span class="id">5.1</span>
	     	 <span><a href="video.html?videoId=PDWMjxt3XWQ  " onclick="openfullscreen()">Listing Tags 1</a></span>
	     </div>

	    <div class="html_c">
	     	 <span class="id">5.2</span>
	     	 <span><a href="video.html?videoId=1A2RvJur8rA  " onclick="openfullscreen()">Listing Tags 2</a></span></div>

	     <div class="html_c">
	     	<span class="id"> 6</span>
	     	<span> <a href="video.html?videoId=2-wS6hfqz9A " onclick="openfullscreen()">Marquee Tag</a></span>
	     </div>
	     <div class="html_c">
	     	<span class="id"> 7</span>
	     	<span> <a href="video.html?videoId=jWjlVq2NlsY  " onclick="openfullscreen()">pre tag and Horizantal rule </a></span>
	     </div>
	     <div class="html_c">
	     	<span class="id">8 </span>
	     	<span> <a href="video.html?videoId=91_aOgptVJI&list " onclick="openfullscreen()">image tag</a></span>
	     </div>

	     <div class="html_c">
	     	<span class="id"> 9.1</span>
	     	<span><a href="video.html?videoId=TRtiuK2_0Xk&list " onclick="openfullscreen()">anchor tag 1</a></span>
	     </div>

	     <div class="html_c">
	     	<span class="id"> 9.2</span>
	     	<span> <a href="video.html?videoId=3FCU5PkuR8A " onclick="openfullscreen()">anchor tag 2</a></span>
	     </div>



	     <div class="html_c">
	     	<span class="id"> 10.1</span>
	     	<span> <a href="video.html?videoId=DgcoTl1eu9o  " onclick="openfullscreen()">table tag 1</a></span>
	     </div>

	     <div class="html_c">
	     	<span class="id"> 10.2</span>
	     	<span> <a href="video.html?videoId=DgcoTl1eu9o  " onclick="openfullscreen()">table tag 1</a></span>
	     </div>

	     <div class="html_c">
	     	<span class="id"> 11</span>
	     	<span> <a href="video.html?videoId=gs6zQQvSXz0&list " onclick="openfullscreen()">website layout in tables</a></span>
	     </div>
	     <div class="html_c">
	     	<span class="id">12 </span>
	     	<span> <a href="video.html?videoId=eabb6JTgkNw&list  " onclick="openfullscreen()"> table head and  body tag</a></span>
	     </div>
	     <div class="html_c">
	     	<span class="id"> 13</span>
	     	<span><a href="video.html?videoId=TyYJ2z4Hrh8&list  " onclick="openfullscreen()"> html audio tag</a></span>
	     </div>
	     <div class="html_c">
	     	<span class="id">14 </span>
	     	<span><a href="video.html?videoId=ncvvD_dwqmg&list  " onclick="openfullscreen()">html video tag </a></span>
	     </div>
	     <div class="html_c">
	     	<span class="id"> 15.1</span>
	     	<span> <a href="video.html?videoId=FPaC9-fXt3w&list  " onclick="openfullscreen()">html form tag 1</a> </span>
	     </div>
	     <div class="html_c">
	     	<span class="id"> 15.2</span>
	     	<span> <a href="video.html?videoId=NwY2HIkE730&list " onclick="openfullscreen()">html form tag 2</a> </span>
	     </div>
	     <div class="html_c">
	     	<span class="id"> 15.3</span>
	     	<span> <a href="video.html?videoId=DkXbqN8wBHc&list  " onclick="openfullscreen()">html form tag 3</a> </span>
	     </div>

	     <div class="html_c">
	     	<span class="id"> 16.1</span>
	     	<span><a href="video.html?videoId=eV00PQme6Is&list " onclick="openfullscreen()"> html 5 new input types 1</a></span>
	     </div>

	     <div class="html_c">
	     	<span class="id"> 16.2</span>
	     	<span><a href="video.html?videoId=bZmmiLeLx5w&list " onclick="openfullscreen()"> html 5 new input types 2</a></span>
	     </div>

	 </div> -->
	  <div class="container">
	     <div class="html_c"><span class="id">1</span>
	     	<span><a href="{{ url_for('html_video', videoId='GpcMasRWUhI') }}" onclick="openfullscreen()">Introduction to HTML</a></span> 
	     </div>
	     <div class="html_c"><span class="id">2</span>
	     	<span><a href="{{ url_for('html_video', videoId='V1JBgugIL8w') }}" onclick="openfullscreen()">Basic Syntax</a></span>
	     </div>
	     <div class="html_c"><span class="id">3</span>
	     	<span><a href="{{ url_for('html_video', videoId='Tu14tj4ar_A') }}" onclick="openfullscreen()">Basic Syntax (Practical)</a></span>
	     </div>
	     <div class="html_c"><span class="id">4.1</span>
	     	<span><a href="{{ url_for('html_video', videoId='YBmpqYthJJ8') }}" onclick="openfullscreen()">Text Formatting 1</a></span>
	     </div>
	     <div class="html_c"><span class="id">4.2</span>
	     	<span><a href="{{ url_for('html_video', videoId='XwXkZ74vQ4E') }}" onclick="openfullscreen()">Text Formatting 2</a></span>
	     </div>
	     <div class="html_c"><span class="id">4.3</span>
	     	<span><a href="{{ url_for('html_video', videoId='jCsIho1SacM') }}" onclick="openfullscreen()">Text Formatting 3</a></span>
	     </div>
	     <div class="html_c"><span class="id">5.1</span>
	     	<span><a href="{{ url_for('html_video', videoId='PDWMjxt3XWQ') }}" onclick="openfullscreen()">Listing Tags 1</a></span>
	     </div>
	     <div class="html_c"><span class="id">5.2</span>
	     	<span><a href="{{ url_for('html_video', videoId='1A2RvJur8rA') }}" onclick="openfullscreen()">Listing Tags 2</a></span>
	     </div>
	     <div class="html_c"><span class="id">6</span>
	     	<span><a href="{{ url_for('html_video', videoId='2-wS6hfqz9A') }}" onclick="openfullscreen()">Marquee Tag</a></span>
	     </div>
	     <div class="html_c"><span class="id">7</span>
	     	<span><a href="{{ url_for('html_video', videoId='jWjlVq2NlsY') }}" onclick="openfullscreen()">Pre Tag and Horizontal Rule</a></span>
	     </div>
	     <div class="html_c"><span class="id">8</span>
	     	<span><a href="{{ url_for('html_video', videoId='91_aOgptVJI') }}" onclick="openfullscreen()">Image Tag</a></span>
	     </div>
	     <div class="html_c"><span class="id">9.1</span>
	     	<span><a href="{{ url_for('html_video', videoId='TRtiuK2_0Xk') }}" onclick="openfullscreen()">Anchor Tag 1</a></span>
	     </div>
	     <div class="html_c"><span class="id">9.2</span>
	     	<span><a href="{{ url_for('html_video', videoId='3FCU5PkuR8A') }}" onclick="openfullscreen()">Anchor Tag 2</a></span>
	     </div>
	     <div class="html_c"><span class="id">10.1</span>
	     	<span><a href="{{ url_for('html_video', videoId='DgcoTl1eu9o') }}" onclick="openfullscreen()">Table Tag 1</a></span>
	     </div>
	     <div class="html_c"><span class="id">10.2</span>
	     	<span><a href="{{ url_for('html_video', videoId='DgcoTl1eu9o') }}" onclick="openfullscreen()">Table Tag 2</a></span>
	     </div>
	     <div class="html_c"><span class="id">11</span>
	     	<span><a href="{{ url_for('html_video', videoId='gs6zQQvSXz0') }}" onclick="openfullscreen()">Website Layout in Tables</a></span>
	     </div>
	     <div class="html_c"><span class="id">12</span>
	     	<span><a href="{{ url_for('html_video', videoId='eabb6JTgkNw') }}" onclick="openfullscreen()">Table Head and Body Tag</a></span>
	     </div>
	     <div class="html_c"><span class="id">13</span>
	     	<span><a href="{{ url_for('html_video', videoId='TyYJ2z4Hrh8') }}" onclick="openfullscreen()">HTML Audio Tag</a></span>
	     </div>
	     <div class="html_c"><span class="id">14</span>
	     	<span><a href="{{ url_for('html_video', videoId='ncvvD_dwqmg') }}" onclick="openfullscreen()">HTML Video Tag</a></span>
	     </div>
	     <div class="html_c"><span class="id">15.1</span>
	     	<span><a href="{{ url_for('html_video', videoId='FPaC9-fXt3w') }}" onclick="openfullscreen()">HTML Form Tag 1</a></span>
	     </div>
	     <div class="html_c"><span class="id">15.2</span>
	     	<span><a href="{{ url_for('html_video', videoId='NwY2HIkE730') }}" onclick="openfullscreen()">HTML Form Tag 2</a></span>
	     </div>
	     <div class="html_c"><span class="id">15.3</span>
	     	<span><a href="{{ url_for('html_video', videoId='DkXbqN8wBHc') }}" onclick="openfullscreen()">HTML Form Tag 3</a></span>
	     </div>
	     <div class="html_c"><span class="id">16.1</span>
	     	<span><a href="{{ url_for('html_video', videoId='eV00PQme6Is') }}" onclick="openfullscreen()">HTML5 New Input Types 1</a></span>
	     </div>
	     <div class="html_c"><span class="id">16.2</span>
	     	<span><a href="{{ url_for('html_video', videoId='bZmmiLeLx5w') }}" onclick="openfullscreen()">HTML5 New Input Types 2</a></span>
	     </div>
	 </div>

<!-- <ul>
    {% for video in videos %}
      <li>
        <a href="{{ url_for('html_video', videoId=video.videoId) }}">{{ video.title }}</a>
      </li>
    {% endfor %}
  </ul>	 
 -->
 
</body>
<script  src="static/courses_to_learn_style_script/html_course_style_script/script2.js"></script>
</html>











